<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin:0 !important;max-width:100%;max-height:80vh">
    <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="max-height:80vh;height:80vh">
    <div class="carousel-item active" style="height:80vh">
          <img class="d-block w-100 image-slider-kel" src="https://www.w3schools.com/bootstrap/img_chania.jpg" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
            <div>
                    <p class="slider-text-kel">DESCUBRE NUESTRAS <a class="color-kel" style="text-decoration:none;">RECETAS</a></p>
                    <button class="btn btn-sliderkel-yellow">VER RECETAS</button>
              </div>
    </div>
    </div>
    <div class="carousel-item" style="height:80vh">
          <img class="d-block w-100 image-slider-kel" src="https://www.w3schools.com/bootstrap/img_chania2.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block j-center">
              <div>
                    <p class="slider-text-kel">DESCUBRE NUESTRAS <a class="color-kel" style="text-decoration:none;">RECETAS</a></p>
                    <button class="btn btn-sliderkel-yellow">VER RECETAS</button>
              </div>
        </div>
    </div>
    <div class="carousel-item" style="height:80vh">
          <img class="d-block w-100 image-slider-kel" src="https://www.w3schools.com/bootstrap/img_flower.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <p class="slider-text-kel">DESCUBRE NUESTRAS <a class="color-kel" style="text-decoration:none;">RECETAS</a></p>
            <button class="btn btn-sliderkel-yellow">VER RECETAS</button>
            </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
    
    </div>