html {
	box-sizing: border-box;
}

::-moz-selection {
	background-color: $color__background_selection;
}

::selection {
	background-color: $color__background_selection;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: $color__background-body;
}

a {
	@include link-transition;
	color: $color__link;
}


a:hover,
a:active {
	color: $color__link-hover;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: $size__spacing-unit 0;
}

h1:not(.site-title),
h2 {
	@include post-section-dash;
}

hr {
	background-color: $color__text-light;
	border: 0;
	height: 2px;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
	position: relative;
}

figure {
	margin: 0;
}

blockquote {
	border-left: 2px solid $color__link;
	margin-left: 0;
	padding: 0 0 0 $size__spacing-unit;

	> p {
		margin: 0 0 $size__spacing-unit;
	}

	cite {
		color: $color__text-light;
	}
}

.image-slider-kel{
	filter:brightness(0.4);
	height:80vh;
}

.btn-sliderkel-yellow{
	color:white;
	border-radius:30px 30px 30px 30px;
	border:3px solid yellow;
	padding:0.8rem;
	padding-right:1rem;
	padding-left:1rem;
	font-weight:600;
}
.btn-sliderkel-yellow:hover{
	background-color:yellow !important;
	color:white !important;
}

.slider-text-kel{
	font-size:2rem;
	line-height:50px;
}

.j-center{
	justify-content:center;
	align-content:center;
}
.color-kel{
	color:yellow !important;
}

@import "tables";
