<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<script>
    new WOW().init();
</script>
<div class="p-4 pt-sm-5 pl-sm-5 pr-sm-5 pb-sm-0 d-flex last-container">
    <div class="company-information m-auto">
        <header class="header-information wow fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Contáctenos</h3>
                <p>Queremos saber sobre ti, ponte en contacto con nosotros</p>
            </div>
            <div class="options justify-content-end">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-sm-end">
                            <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contacto</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
        <div class="row m-0 p-0 mt-3 mb-3">
            <div class="col-12 col-md-6 mb-3 mt-3 mt-sm-0 d-flex j-center wow fadeInLeftBig delay-1s">
                <form class="w-100 row m-0 p-0">
                    <div class="col-12 col-sm-6 m-0 p-0 mb-4 pr-3">
                        <input placeholder="Nombre*" />
                    </div>
                    <div class="col-12 col-sm-6 m-0 p-0 mb-4">
                        <input placeholder="Email*" />
                    </div>
                    <div class="col-12 m-0 p-0 mb-4">
                        <input placeholder="Asunto*" />
                    </div>
                    <div class="col-12 m-0 p-0 mb-4">
                        <textarea placeholder="Mensaje"></textarea>
                    </div>
                    <div class="col-12 m-0 p-0 text-center">
                        <button class="square-secondary mt-3 p-2 pl-5 pr-5">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 mb-3 wow fadeInRightBig delay-1s">
                <div class="row">
                    <div class="col">
                        <dl class="contact-list mt-3 mt-md-0">
                            <dt class="title">
                                <i class="fab fa-telegram-plane fa-lg"></i>
                                Comunicate con nosotros
                            </dt>
                            <dd class="description">Teléfono: +58 (271) 244 1253 / (271) 244 1522</dd>
                            <dt class="title">
                                <i class="fas fa-map-marker-alt fa-lg"></i>
                                Ubícanos
                            </dt>
                            <dd class="description">Av. 2 N° 63, Campo Alegre, Carvajal estado Trujillo. Venezuela</dd>
                            <dt class="title">
                                <i class="fas fa-arrow-right fa-lg"></i>
                                Redes Sociales
                            </dt>
                            <dd class="description"><i class="fab fa-facebook-f pr-3 fs-24px"></i><i class="fab fa-twitter pr-3 fs-24px"></i></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/maps.js"></script>
        <script src="https://www.amcharts.com/lib/4/geodata/venezuelaHigh.js"></script>
        <div id="chartdiv"></div>
        <h3>¿Dónde encontrarnos?</h3>

        <div class="w-100 mt-3 mb-3 wow delay-1s fadeInDownBig">
                <div class="state d-none" id="state-AW">
                    <h6 class="title lh-13">Aruba</h6>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Supermercado 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 2</li>
                    </ul>
                </div>
                <div class="state d-none" id="state-BQ">
                    <h6 class="title lh-13">Bonaire</h6>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Supermercado 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 2</li>
                    </ul>
                </div>
                <div class="state d-none" id="state-CW">
                    <h6 class="title lh-13">Curazao</h6>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 2</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Supermercado 1</li>
                    </ul>
                </div>
                <div class="state d-none" id="state-VE-A">
                    <h6 class="title lh-13">Distrito Capital</h6>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 2</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Supermercado 1</li>
                    </ul>
                </div>
                <div class="state d-none" id="state-VE-V">
                    <h6 class="title lh-13">Zulia</h6>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Supermercado 1</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 2</li>
                        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>Abasto 1</li>
                    </ul>
                </div>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9363.759552021122!2d-70.58376445402394!3d9.335397894420801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6328319f5e3a55%3A0x5bb08720e2ac24b5!2sIndustrias+K.E.L.+C.A.!5e0!3m2!1sen!2sve!4v1554916615980!5m2!1sen!2sve" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

            <?xml version="1.0" encoding="utf-8"?>
            <!-- (c) ammap.com | SVG map of Venezuela - High -->
            <svg class="venMap" xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <defs>
                    <amcharts:ammap projection="mercator" leftLongitude="-73.388293" topLatitude="12.543709" rightLongitude="-59.804557" bottomLatitude="0.644674"></amcharts:ammap>

                    <!-- All areas are listed in the line below. You can use this list in your script. -->
                    <!--{id:"AW"},{id:"BQ"},{id:"CW"},{id:"VE-A"},{id:"VE-B"},{id:"VE-C"},{id:"VE-D"},{id:"VE-E"},{id:"VE-F"},{id:"VE-G"},{id:"VE-H"},{id:"VE-I"},{id:"VE-J"},{id:"VE-K"},{id:"VE-L"},{id:"VE-M"},{id:"VE-N"},{id:"VE-O"},{id:"VE-P"},{id:"VE-R"},{id:"VE-S"},{id:"VE-T"},{id:"VE-U"},{id:"VE-V"},{id:"VE-W"},{id:"VE-X"},{id:"VE-Y"},{id:"VE-Z"}-->

                </defs>
                <g>
                    <path id="AW" title="Aruba" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M147.29,0.64L148.2,0L149.1,0.64L149.1,2.06L150,2.32L150.13,2.83L151.16,3.09L152.83,4.25L154.63,6.95L154.63,8.24L153.86,9.01L151.8,8.63L151.54,7.72L150.26,6.95L149.61,6.82L147.29,5.28L146.91,3.6L145.62,3.22L146.52,2.7L147.04,2.19z"/>
                    <path id="BQ" title="Bonaire, Saint Eustachius and Saba" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M226.99,17.12L227.37,19.05L227.25,21.11L226.47,22.4L226.6,25.23L225.83,26.14L224.54,25.62L223.77,24.72L223.51,23.3L223.51,20.47L223,19.31L221.19,18.28L220.42,17.25L219.01,17.38L217.85,16.48L217.59,14.55L218.49,13.52L220.68,13.39L221.71,14.42L222.87,15.19L225.96,16.48z"/>
                    <path id="CW" title="Curaçao" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M195.19,18.28L196.09,19.18L197.25,19.18L199.44,19.83L201.24,22.53L202.91,23.05L203.94,24.08L204.2,25.36L203.43,26.14L202.27,26.14L201.88,24.85L199.82,25.11L197.25,24.98L195.96,23.3L192.1,21.24L189.39,18.93L189.01,17.12L188.24,16.22L187.59,15.71L186.56,14.29L186.56,13.26L185.02,12.36L185.15,10.69L186.69,10.69L188.24,10.94L189.78,11.84L190.94,13.78L190.68,15.84L193.39,17.64z"/>
                    <path id="VE-A" title="Distrito Capital" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M289.74,90.15L289.49,92.84L288.25,93.83L282.82,96.67L280.85,96.91L278.25,96.67L277.27,96.05L276.21,94.75L276.21,94.75L276.77,94.07L276.77,94.07L277.51,93.46L278.75,91.23L279.86,91.11L280.48,90.49L280.72,89.38L282.08,89.14L282.95,90.25L284.18,90.12L289.49,90.12L289.49,90.12z"/>
                    <path id="VE-B" title="Anzoátegui" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M472.46,184.63L471.62,184.95L470.76,184.95L469.4,185.32L468.78,186.93L467.79,187.91L466.68,188.78L464.83,189.77L462.98,189.64L461.5,188.9L459.52,188.78L454.71,186.93L452.85,187.05L451.5,187.79L449.77,186.93L448.41,188.04L447.42,189.27L445.69,189.64L444.46,189.64L443.1,191.99L441.5,192.98L439.89,193.59L439.03,194.33L435.82,196.06L433.59,196.31L431.86,196.19L430.63,195.44L428.78,195.69L426.06,197.42L424.58,197.42L422.85,198.65L420.38,202.48L419.52,203.59L417.91,204.71L415.81,205.94L413.34,205.82L410.38,205.32L408.78,203.35L406.31,201.87L404.7,200.14L402.6,200.01L398.16,202.11L396.43,203.1L394.58,202.36L391.98,202.24L391.12,202.98L389.39,203.96L387.91,205.69L388.16,208.16L388.53,209.27L389.64,210.26L391,211L391.12,212.24L390.25,213.47L386.06,213.72L382.23,215.82L380.5,217.42L377.17,218.41L375.19,218.41L373.59,218.16L371.61,216.68L369.51,215.32L368.03,213.35L365.93,212.48L363.09,211.87L360.99,211.25L356.05,209.4L353.95,208.9L351.73,208.78L351.73,208.78L350.25,207.67L350.25,207.67L348.77,206.68L348.03,205.45L349.02,203.72L349.14,201L350.37,199.64L351.61,197.17L352.84,195.32L356.05,191.25L357.41,190.26L359.02,188.53L360.25,187.05L361.49,185.2L361.61,182.97L362.47,181L363.58,177.79L363.71,175.81L362.6,174.45L362.84,172.48L363.58,171L364.94,169.76L368.65,169.52L372.6,169.64L373.46,170.5L374.45,171.86L376.92,171.86L377.66,170.63L378.4,168.4L379.51,166.55L380.01,164.58L379.14,162.6L376.3,161.24L374.45,160.01L373.34,159.02L371.73,158.28L371.73,155.81L369.51,153.59L367.17,152.35L364.7,151.49L362.6,151.12L360.99,149.64L359.26,147.78L358.15,145.56L356.79,143.83L357.41,142.1L359.39,141.86L360.5,140.99L361.49,139.88L361.24,138.4L360,137.41L358.15,137.17L356.05,136.06L350.99,131.49L349.88,131.73L349.14,133.09L346.18,133.59L342.96,133.34L341.36,133.09L341.36,130.38L339.75,129.63L339.63,126.92L340.25,124.94L340.25,122.84L339.38,120.74L338.47,119.14L338.35,117.29L338.35,117.29L338.72,115.93L338.72,115.93L341.06,116.05L342.67,115.19L344.52,113.95L345.88,112.72L347.24,111.11L348.22,110.5L349.58,109.26L350.82,108.4L350.94,107.6L350.94,107.6L357.93,108.8L366.54,111.25L370.55,110.25L377.86,110.28L379.49,109.96L380.54,109.62L381.94,108.89L382.73,105.94L386.41,103.65L388.7,103.27L390.86,103.65L392.99,103.34L393.18,103.02L393.18,103.02L393.69,103.8L394.18,104.17L395.42,105.53L395.91,107.38L397.27,108.25L398.5,108.62L399.86,109.24L401.22,109.61L402.33,110.35L406.78,110.35L408.01,109.73L411.59,108.37L414.8,108.37L415.67,108.74L416.78,109.48L416.78,109.48L417.11,109.48L417.11,109.48L417.13,110.22L415.16,111.34L412.44,112.08L411.95,113.68L412.2,115.66L413.31,116.52L414.67,117.02L415.53,117.76L415.9,119.24L417.13,120.1L418,121.95L417.13,122.82L416.64,124.55L417.13,126.52L418.74,127.76L419.97,129.36L421.33,133.81L421.33,135.29L420.34,135.78L419.23,136.89L417.26,138.5L415.9,140.23L416.02,142.33L417.01,144.43L418,146.15L418.74,148.25L419.48,149.24L421.83,148.62L423.06,148.13L424.54,147.88L426.15,148.75L428.86,149.86L433.56,153.44L435.9,156.03L437.88,157.14L439.36,158.5L443.19,161.34L444.17,163.07L444.79,164.68L445.04,166.4L446.15,168.38L447.26,169.86L455.04,169.49L457.63,168.63L460.1,168.63L460.6,169.86L458.74,171.59L456.15,171.47L456.4,172.33L456.03,174.8L456.89,176.04L458.74,177.39L461.34,178.38L466.52,179.86L468.5,180.6L470.84,181.84L472.57,182.33L472.57,182.33z"/>
                    <path id="VE-C" title="Apure" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M312.03,218.41L311.08,219.48L309.76,220.3L307.46,220.8L306.47,222.94L305.32,224.91L302.19,229.36L301.04,230.35L299.72,232.82L295.77,234.63L292.97,234.63L290.67,235.78L287.87,238.58L285.4,239.56L282.44,239.4L279.97,240.22L277.83,241.38L276.34,244.01L275.69,246.97L276.67,248.62L278.15,248.29L279.47,249.94L279.64,251.42L278.98,258L276.67,260.8L275.85,264.42L274.37,267.39L274.53,270.19L274.2,272L272.89,274.3L270.75,274.96L269.92,275.78L269.1,278.09L267.13,279.08L265.97,280.56L264.49,281.05L263.67,282.04L262.3,282.97L262.3,282.97L260.89,282.68L256,280.2L253.53,279.58L247.85,279.45L246.5,278.59L242.05,279.58L241.43,280.94L240.57,282.17L238.59,282.79L233.02,281.48L231.75,281.39L230.32,282.29L229.21,283.78L227.45,282.48L225.82,282.91L225.2,283.78L223.48,283.84L219.64,282.54L217.54,282.85L215.81,283.65L211.37,283.65L209.39,285.28L207.28,285.01L206.14,284.33L204.3,283.78L201.02,283.03L192.27,281.78L190.92,281.72L189.27,280.69L186.43,281.31L184.58,283.9L183.46,285.88L182.74,287.55L180.38,287.36L179.64,286.25L179.45,284.7L177.02,284.82L174.44,286.02L172.72,284.76L172.85,282.67L168.77,279.58L164.45,275.38L163.96,272.05L161.4,269.77L155.81,263.4L155.44,261.43L151.12,257.72L146.11,251.02L145.51,248.93L143.9,247.2L142.05,247.2L138.72,247.57L137.24,248.31L136.13,249.3L134.04,249.19L133.3,248.69L132.42,246.83L129.58,245.97L127.98,245.23L125.75,242.27L110.44,242.27L109.7,243.25L108.72,244.24L106.99,245.35L105.63,246.46L104.83,247.41L102.05,247.33L100.44,245.35L80.63,245.1L79.21,243.25L76.98,243.13L75.25,244.24L71.43,244.98L68.96,246.09L61.67,246.34L59.33,244.24L58.34,242.88L55.01,239.42L54.46,238.31L53.61,235.48L53.63,234.29L54.05,232.7L55.08,231.4L53.23,229.79L51.5,228.93L46.81,228.93L45.72,227.96L45.72,227.96L46.14,227.02L49.27,226.86L51.58,227.02L52.89,226.36L54.21,226.2L55.2,227.35L56.35,228.34L58,229.33L60.47,229.65L63.43,229.65L64.91,229L66.23,228.67L66.72,227.68L66.72,226.86L67.71,225.37L67.71,225.37L67.8,225.08L67.8,225.08L70.82,225.08L72.14,226.4L74.28,227.71L76.91,228.04L78.23,227.05L79.05,227.05L80.04,228.04L82.51,228.04L83.99,227.22L89.43,227.05L91.24,227.88L95.35,228.21L97.16,229.52L98.64,230.84L101.44,230.84L106.38,232.98L112.54,232.82L114.84,233.64L118.3,234.13L120.61,233.31L120.94,231.99L124.06,232.16L126.04,230.68L128.01,228.37L130.65,227.88L132.46,226.56L134.6,219.97L137.73,219.65L141.18,218.99L143.32,216.68L146.45,214.54L150.4,214.38L155.34,210.59L159.79,210.92L162.26,209.44L167.69,204.99L172.3,201.54L176.09,201.04L183.66,201.21L186.95,201.7L189.26,203.18L194.03,203.51L197.16,205.98L199.63,207.3L203.41,207.13L208.19,206.64L211.65,205.98L216.25,205.82L218.89,206.15L222.35,207.13L226.13,205.98L227.61,205.32L229.26,205.32L229.92,205.98L235.35,206.97L242.6,207.63L248.36,206.97L250.66,206.31L252.64,205.16L254.94,204.99L256.38,204.21L256.38,204.21L258.17,206.28L258.17,206.28L262.28,207.76L265.91,209.24L268.05,210.89L272.66,212.53L278.09,212.7L283.03,213.19L286.81,214.51L291.26,216.48L295.38,217.31L296.69,216.32L297.35,213.52L299.82,213.36L300.97,212.53L303.44,212.04L306.24,213.85L307.39,215L310.36,215.33L311.18,217.47L311.18,217.47z"/>
                    <path id="VE-D" title="Aragua" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M260.12,115.74L260,115.56L257.78,114.2L253.95,114.08L252.72,113.71L252.35,111.98L252.6,110.25L253.21,107.41L253.58,104.69L254.33,103.09L254.33,101.24L253.21,100L251.11,99.75L248.27,99.88L246.42,99.51L244.69,98.64L243.58,97.41L243.71,95.68L245.93,93.58L247.04,93.21L247.21,92.61L247.21,92.61L256.01,91.47L261.59,91.09L264.38,90.58L265.69,90.5L265.69,90.5L265.91,92.35L266.65,93.09L266.4,94.32L267.39,95.68L267.51,96.79L268.62,96.91L269.36,96.42L269.86,95.43L270.97,94.69L271.96,94.94L272.82,95.93L273.93,95.93L275.04,95.31L275.04,95.31L275.09,95.29L275.09,95.29L275.27,96.67L275.27,99.51L276.5,101.24L276.99,102.35L278.23,103.71L278.11,105.43L277.12,106.42L277.12,108.15L277.98,109.39L282.06,110.87L283.29,111.61L284.65,112.84L285.76,114.08L288.11,114.08L294.16,114.45L296.13,115.19L298.97,115.06L298.97,115.06L299.15,115.06L299.15,115.06L299.15,118.4L299.64,119.88L300.38,120.62L300.38,122.47L299.27,123.09L298.9,124.33L297.54,125.81L298.28,126.67L299.52,127.78L301,129.51L301.37,131.61L300.13,132.84L300.38,136.06L301.24,137.17L301.24,138.15L300.13,140.99L299.15,141.98L298.65,143.22L297.91,144.33L296.43,145.07L292.85,143.34L291,142.23L287.29,141.12L285.93,140.25L284.45,139.76L282.85,138.65L281.98,136.92L282.23,135.56L283.71,135.07L285.32,135.07L286.55,134.33L287.17,133.22L288.16,131.86L288.16,129.51L287.04,128.03L284.82,127.29L284.82,126.18L283.34,125.81L281.74,124.82L277.66,121.61L276.3,120.25L275.44,118.77L274.33,118.03L270.99,118.03L267.04,116.67L266.18,115.44L265.07,115.19L262.35,115.06L260.13,115.68L260.13,115.68z"/>
                    <path id="VE-E" title="Barinas" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M256.38,204.21L254.94,204.99L252.64,205.16L250.66,206.31L248.36,206.97L242.6,207.63L235.35,206.97L229.92,205.98L229.26,205.32L227.61,205.32L226.13,205.98L222.35,207.13L218.89,206.15L216.25,205.82L211.65,205.98L208.19,206.64L203.41,207.13L199.63,207.3L197.16,205.98L194.03,203.51L189.26,203.18L186.95,201.7L183.66,201.21L176.09,201.04L172.3,201.54L167.69,204.99L162.26,209.44L159.79,210.92L155.34,210.59L150.4,214.38L146.45,214.54L143.32,216.68L141.18,218.99L137.73,219.65L134.6,219.97L132.46,226.56L130.65,227.88L128.01,228.37L126.04,230.68L124.06,232.16L120.94,231.99L120.61,233.31L118.3,234.13L114.84,233.64L112.54,232.82L106.38,232.98L101.44,230.84L98.64,230.84L97.16,229.52L95.35,228.21L91.24,227.88L89.43,227.05L83.99,227.22L82.51,228.04L80.04,228.04L79.05,227.05L78.23,227.05L76.91,228.04L74.28,227.71L72.14,226.4L70.82,225.08L67.8,225.08L67.8,225.08L68.04,224.22L68.04,224.22L69.03,223.4L71,223.07L72.48,222.25L74.79,223.07L78.25,223.56L80.22,224.22L82.53,224.22L84.17,224.88L85.49,225.21L89.11,225.04L88.95,223.89L88.12,222.9L86.81,221.92L85.66,220.76L84.67,220.27L83.68,219.12L83.68,217.47L83.84,215.83L84.83,215.5L84.34,212.86L84.41,212.6L84.41,212.6L85.38,211.92L85.38,211.92L86.98,211.05L90.81,208.46L93.03,207.35L94.89,205.25L97.6,203.15L100.07,200.93L101.68,199.2L103.16,197.35L103.78,195.99L104.02,194.88L104.89,193.89L104.89,190.8L103.9,189.81L103.9,187.72L102.91,187.1L102.67,185.99L103.9,185.99L104.39,185L105.75,183.64L105.75,181.79L106.62,180.31L106.62,178.33L107.85,176.11L109.09,175.37L110.57,173.52L111.56,172.65L112.79,171.05L113.9,169.94L115.51,168.95L117.23,168.7L118.22,168.33L119.21,166.97L119.21,166.73L119.7,165.98L120.82,165.86L121.8,165L123.04,164.75L124.15,163.89L123.78,162.65L125.63,160.06L126.04,159.23L126.04,159.23L127.85,159.02L127.85,159.02L130.32,158.16L137.73,158.03L139.58,159.02L140.94,159.02L140.94,159.02L142.5,159.26L142.5,159.26L144.02,160.02L145.33,161.66L146.98,162.82L149.28,164.79L151.59,165.94L153.73,167.75L156.53,168.58L159.49,169.73L160.64,170.72L167.72,170.72L169.86,172.69L175.13,174.67L177.93,174.01L180.73,175L182.87,176.97L183.86,178.46L185.67,180.76L186,182.74L187.97,183.56L188.63,184.88L187.31,186.03L186.98,187.51L188.3,188.17L189.95,189.65L191.59,191.46L193.73,192.28L195.22,193.77L195.71,195.58L197.03,196.4L198.34,198.38L200.48,199.36L202.46,199.03L202.62,192.28L202.95,190.47L204.43,189.98L205.75,187.67L207.73,186.69L209.87,186.03L211.18,183.89L211.68,181.91L212.5,180.6L213,178.46L213,178.46L212.86,176.22L212.86,176.22L223.1,176.64L225.41,177.14L226.56,177.14L227.22,176.48L230.68,176.31L232.32,176.81L235.29,179.28L235.29,179.28L235.87,179.79L235.87,179.79L235.94,180.1L237.76,181.25L237.59,184.55L239.24,184.55L241.05,185.7L244.01,187.02L246.97,190.47L249.61,193.27L251.58,193.6L254.05,195.08L253.89,198.54L255.37,200.19L256.03,203.81L256.03,203.81z"/>
                    <path id="VE-F" title="Bolívar" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M387.3,370.32L387.71,363.6L387.71,361.62L386.4,359.97L386.4,357.01L385.9,354.87L384.26,354.38L382.45,353.55L380.97,353.39L379.98,354.21L379.15,354.38L377.34,353.22L374.54,352.57L371.75,350.43L365.98,342.19L363.19,337.09L361.54,334.46L360.72,331.99L360.06,328.2L358.74,326.55L358.41,323.76L359.73,322.93L364.5,322.44L365.49,321.45L365.49,319.31L363.68,317.83L362.53,317.17L362.36,315.03L364.01,314.37L364.34,313.22L364.34,312.07L362.69,310.75L360.72,308.77L358.58,305.98L358.74,304.99L360.22,304.17L360.72,303.01L360.22,301.7L359.4,301.7L357.26,300.54L351.5,300.54L349.52,302.02L347.38,304.66L344.91,304.66L342.61,301.7L342.44,296.92L344.09,292.64L344.42,288.2L343.43,286.22L340.3,285.4L337.34,285.73L335.86,286.22L333.88,287.21L331.25,293.3L329.11,295.6L327.63,297.74L326.31,299.39L323.18,300.87L319.89,300.71L318.74,301.7L316.6,302.68L314.95,302.85L314.62,300.87L313.47,300.05L313.63,296.26L312.97,294.95L310.34,295.28L307.05,298.4L304.74,300.21L303.75,301.53L298.98,304L296.35,303.67L293.71,304.49L287.46,304.66L283.67,305.48L282.35,306.47L280.05,306.14L278.4,304.33L274.12,304.66L273.46,302.68L273.46,300.38L274.29,298.4L274.45,296.59L273.96,295.11L275.27,294.45L275.27,291.49L274.29,289.84L274.29,287.87L272.64,287.04L269.35,286.22L267.21,286.39L265.56,285.89L264.74,285.23L262.6,284.41L262.15,284.41L262.15,284.41L262.3,282.97L262.3,282.97L263.67,282.04L264.49,281.05L265.97,280.56L267.13,279.08L269.1,278.09L269.92,275.78L270.75,274.96L272.89,274.3L274.2,272L274.53,270.19L274.37,267.39L275.85,264.42L276.67,260.8L278.98,258L279.64,251.42L279.47,249.94L278.15,248.29L276.67,248.62L275.69,246.97L276.34,244.01L277.83,241.38L279.97,240.22L282.44,239.4L285.4,239.56L287.87,238.58L290.67,235.78L292.97,234.63L295.77,234.63L299.72,232.82L301.04,230.35L302.19,229.36L305.32,224.91L306.47,222.94L307.46,220.8L309.76,220.3L311.08,219.48L312.03,218.41L312.03,218.41L312.83,219.28L312.83,219.28L315.95,219.61L318.92,217.47L320.23,215.83L320.89,216.81L322.21,216.98L324.84,216.98L326.98,217.8L329.62,216.98L331.76,216.48L333.57,214.18L335.38,212.37L336.7,210.23L337.68,209.41L339.5,209.08L340.81,208.25L343.28,207.92L344.27,207.1L346.25,207.27L346.41,208.09L347.89,208.09L349.04,208.58L349.87,209.57L351.51,209.57L351.72,208.77L351.72,208.77L351.73,208.78L351.73,208.78L353.95,208.9L356.05,209.4L360.99,211.25L363.09,211.87L365.93,212.48L368.03,213.35L369.51,215.32L371.61,216.68L373.59,218.16L375.19,218.41L377.17,218.41L380.5,217.42L382.23,215.82L386.06,213.72L390.25,213.47L391.12,212.24L391,211L389.64,210.26L388.53,209.27L388.16,208.16L387.91,205.69L389.39,203.96L391.12,202.98L391.98,202.24L394.58,202.36L396.43,203.1L398.16,202.11L402.6,200.01L404.7,200.14L406.31,201.87L408.78,203.35L410.38,205.32L413.34,205.82L415.81,205.94L417.91,204.71L419.52,203.59L420.38,202.48L422.85,198.65L424.58,197.42L426.06,197.42L428.78,195.69L430.63,195.44L431.86,196.19L433.59,196.31L435.82,196.06L439.03,194.33L439.89,193.59L441.5,192.98L443.1,191.99L444.46,189.64L445.69,189.64L447.42,189.27L448.41,188.04L449.77,186.93L451.5,187.79L452.85,187.05L454.71,186.93L459.52,188.78L461.5,188.9L462.98,189.64L464.83,189.77L466.68,188.78L467.79,187.91L468.78,186.93L469.4,185.32L470.76,184.95L471.62,184.95L472.46,184.63L472.46,184.63L472.45,184.92L472.45,184.92L473.93,184.92L475.41,183.32L476.89,181.96L476.89,181.96L477.76,181.65L478.08,183.84L478.2,185.81L478.2,185.81L479.44,186.93L480.18,187.91L481.78,189.39L481.78,189.39L482.89,190.63L483.39,192.36L483.39,192.36L487.71,192.23L490.8,192.36L492.9,193.1L492.9,193.1L497.22,196.06L498.45,197.54L499.44,199.03L500.06,200.26L500.3,201.74L500.3,201.74L501.54,202.48L504.63,203.47L505.98,202.36L507.22,201.99L507.96,201.12L509.44,201.12L511.29,200.88L512.4,200.38L514.75,201L515.86,203.1L516.6,204.83L517.84,206.8L518.58,208.53L519.94,209.77L519.94,209.77L522.28,211.62L524.88,211.99L524.88,211.99L526.23,212.73L528.21,212.85L529.57,213.84L531.42,213.84L532.16,212.48L533.27,211.74L534.63,211L536.73,211L538.09,210.01L539.69,209.64L540.06,208.9L542.9,207.3L544.63,205.94L546.61,205.82L547.72,206.43L548.33,207.42L549.08,210.26L550.19,211.13L551.67,211.99L553.77,210.88L555.13,211L555.99,210.01L557.47,209.64L558.21,208.9L558.71,208.04L559.94,208.16L560.43,208.9L561.18,208.9L561.55,208.29L563.4,207.92L564.51,207.05L578.13,206.8L578.13,206.8L576.9,208.25L574.94,209.44L568.3,209.73L566.66,211.37L565.64,215.44L565.01,218.8L562.09,220.65L559.66,221.22L559.36,223.2L559.48,224.93L560.62,227.03L561.83,227.31L564.07,230.19L564.9,232.21L564.72,233.55L562.95,235.24L564.23,236.53L566.45,238.31L567.8,238.46L569.61,237.72L571.14,237.44L574.12,237.44L575.87,238.03L577.32,239.24L578.71,240.15L579.75,242.09L578.85,243.97L576.83,245.98L573.98,248.34L570.79,249.87L569.19,251.95L567.11,253.07L563.38,252.95L562.02,253.66L561,255.71L559.61,256.96L557.04,256.89L555.23,255.84L552.73,255.64L551.41,255.36L549.81,257.58L547.8,258.07L546.13,258.62L543.91,258.55L542.17,257.65L539.54,257.72L538.18,256.42L537.25,256.56L537.45,258.69L538.63,260.08L539.6,262.06L539.82,263.63L539.46,265.41L541.2,268.51L541.34,278.79L542.52,278.72L542.52,281.64L541.41,281.78L541.27,283.65L539.4,285.18L537.17,286.36L535.58,287.4L534.67,289.9L532.8,290.95L531.25,291L529.47,292.36L530.11,293.71L542.46,306.42L553.24,319.55L557.02,323.34L558.59,325.05L559.61,326.41L561.45,327.91L564.23,331.51L565.29,335.85L565.23,336.93L564.16,337.79L562.31,340.21L560.16,342.64L553.91,346.55L551.86,348.13L550.88,349.92L550.88,352.07L548.84,354.47L544.75,354.54L543.91,355.44L538.91,355.44L537.73,354.4L534.05,354.47L533.63,359.26L528.08,359.26L526.06,360.09L524.95,361.27L525.09,363.56L525.02,365.02L523.35,366.83L521.06,366.97L516.41,366.83L516.13,368.01L513.98,368.01L510.85,371.62L508.7,371.9L506.62,371.54L504.78,371.9L502.35,371.69L500.32,372.76L499.16,373.87L496.41,374.25L493.24,372.97L490.68,372.52L489.02,371.61L486.74,370.9L485.54,370.65L484.02,370.72L482.97,372.25L480.82,373.43L480.03,374.68L480.06,376.48L478.04,377.66L472.21,377.39L470.49,377.67L469.19,378.47L468.32,380.39L468.68,383.32L469.75,384.39L470.46,387.39L471.65,390.19L471.17,391.72L470.24,393.59L469.32,394.96L467.82,395.81L466.17,397.28L463.54,397.24L462.11,396.67L452.26,387.32L447.76,381.96L446.51,380.04L445.01,379.18L441.09,379.36L440.8,380.68L439.73,380.82L439.8,382.46L439.5,383.8L437.62,384.15L436.09,383.53L434.59,382.18L433.66,381.04L432.52,380.04L430.88,380.19L429.02,380.04L427.55,381.3L423.94,381.23L422.9,380.26L421.23,380.12L420.67,381.3L419.08,381.02L418.87,382.21L416.99,382.9L416.24,384.15L415.07,384.03L413.78,383.66L413.04,382.65L411.83,377.18L410.26,375.24L408.13,373.94L404.52,373.39L403.31,372.85L399.48,372.58L397.53,372.61L395.3,373.21L393.66,373.48L390.44,373.57L389.05,372.74L387.48,370.42z"/>
                    <path id="VE-G" title="Carabobo" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M247.21,92.61L247.04,93.21L245.93,93.58L243.71,95.68L243.58,97.41L244.69,98.64L246.42,99.51L248.27,99.88L251.11,99.75L253.21,100L254.33,101.24L254.33,103.09L253.58,104.69L253.21,107.41L252.6,110.25L252.35,111.98L252.72,113.71L253.95,114.08L257.78,114.2L260,115.56L260.12,115.74L260.12,115.74L259.76,117.9L259.76,117.9L259.63,118.89L257.54,118.77L256.55,119.88L254.94,120.13L253.95,120.74L253.21,121.86L251.49,121.73L251.36,120.87L250.5,119.88L247.9,117.9L246.42,118.03L245.68,118.89L245.44,120.25L245.44,120.25L245.44,121.61L245.44,121.61L240.87,121.86L238.4,120.13L235.93,119.76L233.21,119.02L230.62,117.41L229.51,116.05L228.03,115.81L227.41,113.95L227.78,112.6L228.77,111.85L229.75,110.37L229.63,109.39L228.4,108.4L227.53,109.01L226.54,110.13L223.83,111.98L222.96,113.34L222.96,113.34L221.85,113.09L221.85,113.09L221.48,111.36L221.36,110L220.62,109.14L220.62,106.55L221.36,105.43L221.98,104.08L222.96,102.84L222.96,101.85L222.1,100.37L220.74,99.51L220.49,98.52L220.74,94.82L221.73,92.59L221.48,90.62L222.59,90.25L223.95,91.11L225.31,90.99L225.93,90.49L227.53,90.12L228.94,90.12L228.94,90.12L230.3,91.7L231.89,93.12L240.02,93.12L241.54,94.01L243.29,93.21z"/>
                    <path id="VE-H" title="Cojedes" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M245.44,120.5L245.82,120.67L247.3,122.65L248.62,123.96L249.11,125.12L249.61,127.09L248.95,128.24L247.63,129.89L245.66,131.04L243.19,131.7L241.54,132.85L240.22,133.51L240.22,136.15L240.55,138.94L241.71,139.6L242.04,145.86L243.19,147.34L244.34,149.81L244.34,158.54L243.02,160.35L241.71,161.33L239.4,163.8L238.91,165.28L236.44,169.07L236.77,170.39L237.76,171.21L237.92,178.29L236.44,178.78L236.6,180.43L236.6,180.43L235.29,179.28L235.29,179.28L232.32,176.81L230.68,176.31L227.22,176.48L226.56,177.14L225.41,177.14L223.1,176.64L212.86,176.22L212.86,176.22L212.83,175.66L212.83,175.66L211.18,174.34L209.37,173.52L208.88,171.54L207.56,169.89L206.08,169.56L204.27,168.41L205.26,167.42L206.9,166.6L207.89,165.94L210.53,165.61L211.35,164.46L210.53,162.32L210.03,160.18L209.04,158.21L209.54,156.56L211.35,154.58L208.22,151.79L208.22,149.81L207.73,148.16L205.92,147.67L202.79,144.38L200.32,143.06L199.99,141.25L200.15,139.77L197.03,134.01L197.03,132.19L196.86,130.71L195.54,129.89L195.54,128.24L193.86,124.06L193.86,124.06L194.28,123.58L194.28,123.58L195.64,122.6L195.89,119.39L196.75,119.26L197,117.29L196.87,115.06L196.95,114.02L196.95,114.02L198.27,113.83L198.27,113.83L199.26,112.84L200.99,112.97L203.46,115.31L205.18,116.42L206.42,117.04L209.5,116.05L209.88,115.06L211.48,114.08L214.07,113.95L213.95,115.31L214.32,117.29L215.18,118.15L216.67,118.03L219.38,116.55L220.49,115.31L221.73,114.82L222.46,113.23L222.46,113.23L222.96,113.34L222.96,113.34L223.83,111.98L226.54,110.13L227.53,109.01L228.4,108.4L229.63,109.39L229.75,110.37L228.77,111.85L227.78,112.6L227.41,113.95L228.03,115.81L229.51,116.05L230.62,117.41L233.21,119.02L235.93,119.76L238.4,120.13L240.87,121.86L245.44,121.61L245.44,121.61z"/>
                    <path id="VE-I" title="Falcón" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M200.37,86.35L199.81,85.23L198.95,84.25L197.71,83.63L195.86,83.51L193.64,84.25L192.53,85.36L190.43,85.6L188.58,84.49L186.23,84.12L182.4,83.26L178.33,83.26L175.24,83.51L173.39,84.25L171.04,83.26L169.44,82.02L167.83,81.41L166.35,81.28L164.87,80.42L163.51,81.28L162.65,82.27L160.55,83.51L158.57,83.38L157.34,83.14L157.83,81.78L156.1,82.39L155.12,83.38L153.39,83.75L150.67,84.62L148.82,85.36L146.97,86.35L144.25,86.35L142.65,86.96L141.16,88.44L139.44,89.06L136.97,89.19L136.22,89.93L134.25,90.91L127.46,91.28L125.73,91.9L122.03,93.63L117.95,94.12L117.95,94.12L115.11,93.88L115.11,93.88L112.02,94L109.8,93.75L107.95,92.4L105.85,91.65L102.64,87.7L102.02,85.73L100.79,84L101.04,82.39L101.78,81.41L101.9,80.17L101.16,78.94L99.92,77.46L98.44,76.59L97.45,74.86L96.1,73.75L94.24,71.53L92.49,70.23L92.49,70.23L93.08,69.62L97.19,67.87L101.19,65.45L103.05,63.93L105.54,63.35L109.92,60.99L112.77,59.86L116.68,59.02L120.3,58.64L121.79,58.74L125.08,58.49L126.77,58.21L127.5,57.55L129.5,56.34L130.62,56.24L134.95,54.47L138.67,53.52L141.72,52.26L142.94,50.59L144.93,49.21L148.47,48.88L148.18,47.32L148.66,46.5L151.87,46.5L154.15,48.02L155.14,49.63L156.62,49.75L157.98,49.63L161.18,49.04L161.86,45.15L160.82,42.46L158.98,38.89L157.34,38.38L155.54,38.44L154.41,39.56L149.03,40.2L141.29,42.29L140.32,41.11L139.95,38.64L141.19,37.77L141.19,34.69L138.23,31.48L137.83,29.92L137.66,27.72L139.21,25.05L140.36,22.14L142.06,19.43L146.23,16.73L148.61,15.65L153.23,15.88L155.76,18.08L157.12,20.61L156.95,22.64L157.96,24.84L159.32,26.87L159.66,29.75L159.83,32.8L161.69,38.21L164.15,41.85L165.14,43.95L165.58,46L166.93,46.84L168.96,47.86L171.02,46.62L174.72,46L175.73,46.84L177.5,47.23L178.94,46.37L181.27,45.41L185.38,46.33L188.73,47.54L191.81,48.87L200.32,49.31L208.42,53.66L211.23,55.43L213.33,56.05L218.27,59.75L219.98,62.24L222.94,65.96L225.56,68.89L225.56,71.6L224.13,73.24L225.71,74.42L225.82,74.93L224.81,75.95L224.13,77.81L223.94,79.67L224.57,82.84L225.8,84.57L228.02,88.72L228.02,88.72L223.58,89.38L217.16,89.26L215.06,88.89L213.46,88.15L212.22,87.28L211.11,86.05L210.74,82.59L208.15,82.59L204.2,83.46L201.48,86.05L201.48,86.05z"/>
                    <path id="VE-J" title=" Guárico" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M351.72,208.77L351.51,209.57L349.87,209.57L349.04,208.58L347.89,208.09L346.41,208.09L346.25,207.27L344.27,207.1L343.28,207.92L340.81,208.25L339.5,209.08L337.68,209.41L336.7,210.23L335.38,212.37L333.57,214.18L331.76,216.48L329.62,216.98L326.98,217.8L324.84,216.98L322.21,216.98L320.89,216.81L320.23,215.83L318.92,217.47L315.95,219.61L312.83,219.28L312.83,219.28L311.18,217.47L311.18,217.47L310.36,215.33L307.39,215L306.24,213.85L303.44,212.04L300.97,212.53L299.82,213.36L297.35,213.52L296.69,216.32L295.38,217.31L291.26,216.48L286.81,214.51L283.03,213.19L278.09,212.7L272.66,212.53L268.05,210.89L265.91,209.24L262.28,207.76L258.17,206.28L258.17,206.28L256.03,203.81L256.03,203.81L255.37,200.19L253.89,198.54L254.05,195.08L251.58,193.6L249.61,193.27L246.97,190.47L244.01,187.02L241.05,185.7L239.24,184.55L237.59,184.55L237.76,181.25L235.94,180.1L235.87,179.79L235.87,179.79L236.6,180.43L236.6,180.43L236.44,178.78L237.92,178.29L237.76,171.21L236.77,170.39L236.44,169.07L238.91,165.28L239.4,163.8L241.71,161.33L243.02,160.35L244.34,158.54L244.34,149.81L243.19,147.34L242.04,145.86L241.71,139.6L240.55,138.94L240.22,136.15L240.22,133.51L241.54,132.85L243.19,131.7L245.66,131.04L247.63,129.89L248.95,128.24L249.61,127.09L249.11,125.12L248.62,123.96L247.3,122.65L245.82,120.67L245.44,120.5L245.44,120.5L245.44,120.25L245.44,120.25L245.68,118.89L246.42,118.03L247.9,117.9L250.5,119.88L251.36,120.87L251.49,121.73L253.21,121.86L253.95,120.74L254.94,120.13L256.55,119.88L257.54,118.77L259.63,118.89L259.76,117.9L259.76,117.9L260.13,115.68L260.13,115.68L262.35,115.06L265.07,115.19L266.18,115.44L267.04,116.67L270.99,118.03L274.33,118.03L275.44,118.77L276.3,120.25L277.66,121.61L281.74,124.82L283.34,125.81L284.82,126.18L284.82,127.29L287.04,128.03L288.16,129.51L288.16,131.86L287.17,133.22L286.55,134.33L285.32,135.07L283.71,135.07L282.23,135.56L281.98,136.92L282.85,138.65L284.45,139.76L285.93,140.25L287.29,141.12L291,142.23L292.85,143.34L296.43,145.07L297.91,144.33L298.65,143.22L299.15,141.98L300.13,140.99L301.24,138.15L301.24,137.17L300.38,136.06L300.13,132.84L301.37,131.61L301,129.51L299.52,127.78L298.28,126.67L297.54,125.81L298.9,124.33L299.27,123.09L300.38,122.47L300.38,120.62L299.64,119.88L299.15,118.4L299.15,115.06L299.15,115.06L302.68,114.94L302.68,114.94L304.16,114.57L305.64,113.58L307.12,113.09L308.73,112.35L310.21,111.98L311.57,112.84L313.42,114.45L314.65,115.19L317,114.82L318.6,115.68L320.33,114.94L322.06,114.82L324.28,115.81L326.14,115.93L329.72,115.81L331.45,115.31L332.56,114.82L334.16,114.94L335.4,116.05L336.75,116.05L337.74,116.67L338.48,116.78L338.48,116.78L338.35,117.29L338.35,117.29L338.47,119.14L339.38,120.74L340.25,122.84L340.25,124.94L339.63,126.92L339.75,129.63L341.36,130.38L341.36,133.09L342.96,133.34L346.18,133.59L349.14,133.09L349.88,131.73L350.99,131.49L356.05,136.06L358.15,137.17L360,137.41L361.24,138.4L361.49,139.88L360.5,140.99L359.39,141.86L357.41,142.1L356.79,143.83L358.15,145.56L359.26,147.78L360.99,149.64L362.6,151.12L364.7,151.49L367.17,152.35L369.51,153.59L371.73,155.81L371.73,158.28L373.34,159.02L374.45,160.01L376.3,161.24L379.14,162.6L380.01,164.58L379.51,166.55L378.4,168.4L377.66,170.63L376.92,171.86L374.45,171.86L373.46,170.5L372.6,169.64L368.65,169.52L364.94,169.76L363.58,171L362.84,172.48L362.6,174.45L363.71,175.81L363.58,177.79L362.47,181L361.61,182.97L361.49,185.2L360.25,187.05L359.02,188.53L357.41,190.26L356.05,191.25L352.84,195.32L351.61,197.17L350.37,199.64L349.14,201L349.02,203.72L348.03,205.45L348.77,206.68L350.25,207.67L350.25,207.67z"/>
                    <path id="VE-K" title="Lara" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M196.95,114.02L196.87,115.06L197,117.29L196.75,119.26L195.89,119.39L195.64,122.6L194.28,123.58L194.28,123.58L193.29,124.7L193.29,124.7L191.94,125.68L190.82,126.79L189.47,127.54L187.86,127.54L186.13,127.78L185.64,128.4L184.53,127.54L183.17,127.17L183.29,121.86L182.43,120.74L181.81,120.5L180.58,121.61L180.33,122.84L179.22,123.96L178.6,124.94L178.35,126.3L177.37,127.04L177.37,128.15L176.5,128.52L176.62,129.39L177.98,131.24L176.38,131.61L174.9,129.26L173.78,129.63L173.78,131.73L175.14,132.35L174.9,133.46L173.78,133.09L171.32,131.12L169.96,131.49L169.96,132.35L171.19,133.34L171.07,134.33L170.08,134.2L169.22,132.97L166.87,133.46L166.01,134.33L165.88,139.88L164.9,140.75L163.78,140.99L162.55,140.87L161.93,140.01L160.33,140.01L159.22,140.99L157.86,140.62L156.13,138.77L157.36,137.54L158.23,136.43L158.72,135.31L159.22,133.96L158.84,132.6L157.36,132.84L156.62,133.34L156,134.2L152.92,134.08L150.7,136.43L149.95,136.8L149.95,136.8L149.21,138.9L149.21,138.9L147.98,138.03L147.49,136.55L144.89,133.59L144.89,131.61L146,129.88L146.5,128.77L150.2,128.4L151.07,128.03L150.33,126.55L148.23,126.05L146.62,124.7L144.77,123.71L143.04,123.46L141.81,121.98L140.32,121.98L139.21,122.6L137.11,121.73L135.51,120.87L134.52,119.51L133.29,118.77L131.93,119.26L129.95,119.76L128.47,118.89L126.74,118.65L126.74,115.81L125.51,114.82L124.03,114.2L124.15,112.97L122.54,112.1L120.94,112.84L120.2,114.08L119.95,116.05L120.2,117.04L119.07,117.34L119.07,117.34L119.1,117.14L119.1,117.14L116.51,116.89L114.41,115.78L113.54,115.04L112.06,114.55L110.21,113.31L109.35,111.46L110.09,109.85L112.43,108.5L116.38,106.52L118.48,104.67L118.48,102.69L119.22,101.58L119.35,100.47L118.48,99.61L117.49,99.85L116.51,99.24L116.26,98.37L116.38,97.14L116.01,95.53L115.27,94.79L115.22,93.89L115.22,93.89L117.95,94.12L117.95,94.12L122.03,93.63L125.73,91.9L127.46,91.28L134.25,90.91L136.22,89.93L136.97,89.19L139.44,89.06L141.16,88.44L142.65,86.96L144.25,86.35L146.97,86.35L148.82,85.36L150.67,84.62L153.39,83.75L155.12,83.38L156.1,82.39L157.83,81.78L157.34,83.14L158.57,83.38L160.55,83.51L162.65,82.27L163.51,81.28L164.87,80.42L166.35,81.28L167.83,81.41L169.44,82.02L171.04,83.26L173.39,84.25L175.24,83.51L178.33,83.26L182.4,83.26L186.23,84.12L188.58,84.49L190.43,85.6L192.53,85.36L193.64,84.25L195.86,83.51L197.71,83.63L198.95,84.25L199.81,85.23L200.37,86.35L200.37,86.35L200.12,86.42L200.12,86.42L199.63,87.04L198.52,87.9L197.53,89.26L195.92,89.88L193.58,90.12L191.85,91.11L190.98,92.47L190.61,94.82L192.71,98.15L192.84,101.48L193.82,102.59L193.82,103.95L188.89,104.08L188.51,105.68L187.53,106.92L186.05,107.29L184.69,108.27L184.32,109.14L185.06,110.37L186.17,111.11L188.14,113.46L187.28,114.69L187.03,115.93L187.53,117.9L188.64,118.89L190,119.63L191.11,120L191.97,118.65L192.22,116.3L193.33,114.94L194.44,113.95L196.54,114.08L196.54,114.08z"/>
                    <path id="VE-L" title="Mérida" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M126.04,159.23L125.63,160.06L123.78,162.65L124.15,163.89L123.04,164.75L121.8,165L120.82,165.86L119.7,165.98L119.21,166.73L119.21,166.97L118.22,168.33L117.23,168.7L115.51,168.95L113.9,169.94L112.79,171.05L111.56,172.65L110.57,173.52L109.09,175.37L107.85,176.11L106.62,178.33L106.62,180.31L105.75,181.79L105.75,183.64L104.39,185L103.9,185.99L102.67,185.99L102.91,187.1L103.9,187.72L103.9,189.81L104.89,190.8L104.89,193.89L104.02,194.88L103.78,195.99L103.16,197.35L101.68,199.2L100.07,200.93L97.6,203.15L94.89,205.25L93.03,207.35L90.81,208.46L86.98,211.05L85.38,211.92L85.38,211.92L84.14,212.78L84.14,212.78L83.16,212.29L82.42,211.55L81.55,210.31L81.68,206.73L81.3,203.4L80.69,202.16L78.96,201.3L75.25,201.3L73.9,201.05L72.54,199.32L69.08,196.48L65.87,195.99L64.27,195.37L64.39,193.52L65.87,192.04L66.86,190.56L67.6,188.95L69.08,188.33L69.08,183.89L69.33,182.04L70.44,180.8L70.07,179.57L69.2,178.58L68.83,176.36L67.97,176.11L67.64,174.62L67.64,174.62L68.65,174.28L68.65,174.28L70.13,174.41L71.98,175.15L73.71,175.39L74.58,171.81L76.06,171.57L78.16,170.33L81.74,166.5L85.07,164.65L86.8,162.55L89.39,161.32L91.98,158.85L93.1,157.98L94.7,157.12L94.58,155.76L93.96,155.51L93.34,154.65L93.47,152.67L93.39,152.23L93.39,152.23L94.4,151.54L95.12,150.71L95.45,149.64L97.48,149.71L97.48,149.71L97.97,150.45L99.21,150.58L100.32,151.56L101.92,152.55L102.79,153.91L104.27,154.4L105.13,153.54L107.6,153.42L108.59,152.55L108.59,152.55L109.96,152.66L109.96,152.66L110.32,153.34L111.68,153.34L114.77,154.82L118.47,158.77L120.2,160.38L121.93,157.79L124.15,158.03L125.75,159.27L125.75,159.27z"/>
                    <path id="VE-M" title="Miranda" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M338.48,116.78L337.74,116.67L336.75,116.05L335.4,116.05L334.16,114.94L332.56,114.82L331.45,115.31L329.72,115.81L326.14,115.93L324.28,115.81L322.06,114.82L320.33,114.94L318.6,115.68L317,114.82L314.65,115.19L313.42,114.45L311.57,112.84L310.21,111.98L308.73,112.35L307.12,113.09L305.64,113.58L304.16,114.57L302.68,114.94L302.68,114.94L298.97,115.06L298.97,115.06L296.13,115.19L294.16,114.45L288.11,114.08L285.76,114.08L284.65,112.84L283.29,111.61L282.06,110.87L277.98,109.39L277.12,108.15L277.12,106.42L278.11,105.43L278.23,103.71L276.99,102.35L276.5,101.24L275.27,99.51L275.27,96.67L275.09,95.29L275.09,95.29L276.21,94.75L276.21,94.75L277.27,96.05L278.25,96.67L280.85,96.91L282.82,96.67L288.25,93.83L289.49,92.84L289.74,90.15L289.74,90.15L291.84,90.37L291.84,90.37L293.56,89.51L295.17,89.14L305.42,89.26L306.78,90.25L307.89,90.37L309.74,90.12L311.1,89.75L311.71,88.52L311.6,86.61L311.6,86.61L313.45,85.19L315.8,85.37L316.69,85.73L318,87.66L321.3,87.79L322.34,88.23L322.32,89.44L320.72,90.45L320.66,91.65L321.61,92.88L322.93,94.18L327.78,98.04L330.06,99.34L333.11,102.38L335.38,104.12L336.32,104.28L338.09,104.18L341.87,105.56L345.92,106.01L350.94,107.6L350.94,107.6L350.82,108.4L349.58,109.26L348.22,110.5L347.24,111.11L345.88,112.72L344.52,113.95L342.67,115.19L341.06,116.05L338.72,115.93L338.72,115.93z"/>
                    <path id="VE-N" title="Monagas" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M486.56,126.63L485.69,129.1L484.04,131.08L484.04,131.08L482.06,133.05L482.72,135.36L482.72,135.36L484.04,139.14L483.88,142.43L483.88,145.73L485.19,147.04L487.17,148.2L487.33,151.16L487.33,151.16L487.83,152.81L487.66,154.62L487.66,154.62L488.65,155.44L490.79,155.93L494.9,156.43L496.88,155.93L498.03,154.95L498.03,154.95L499.18,155.11L499.84,157.42L499.84,157.42L500.01,163.67L499.35,167.79L498.2,169.76L495.89,171.08L491.94,175.52L491.12,176.84L488.81,177.5L486.34,179.64L483.38,180.3L480.09,180.46L480.09,180.46L477.29,181.62L477.22,181.84L476.89,181.96L476.89,181.96L475.41,183.32L473.93,184.92L472.45,184.92L472.45,184.92L472.57,182.33L472.57,182.33L470.84,181.84L468.5,180.6L466.52,179.86L461.34,178.38L458.74,177.39L456.89,176.04L456.03,174.8L456.4,172.33L456.15,171.47L458.74,171.59L460.6,169.86L460.1,168.63L457.63,168.63L455.04,169.49L447.26,169.86L446.15,168.38L445.04,166.4L444.79,164.68L444.17,163.07L443.19,161.34L439.36,158.5L437.88,157.14L435.9,156.03L433.56,153.44L428.86,149.86L426.15,148.75L424.54,147.88L423.06,148.13L421.83,148.62L419.48,149.24L418.74,148.25L418,146.15L417.01,144.43L416.02,142.33L415.9,140.23L417.26,138.5L419.23,136.89L420.34,135.78L421.33,135.29L421.33,133.81L419.97,129.36L418.74,127.76L417.13,126.52L416.64,124.55L417.13,122.82L418,121.95L417.13,120.1L415.9,119.24L415.53,117.76L414.67,117.02L413.31,116.52L412.2,115.66L411.95,113.68L412.44,112.08L415.16,111.34L417.13,110.22L417.11,109.48L417.11,109.48L418.01,109.48L418.01,109.48L420.23,108.37L421.71,108.25L423.94,107.14L425.05,105.53L426.41,104.54L432.21,104.42L433.07,103.8L434.68,103.06L435.3,102.32L435.91,101.95L436.78,101.09L437.64,100.59L439.25,100.96L440.11,101.46L441.47,102.45L442.09,103.43L444.06,103.68L445.3,104.92L446.53,105.66L447.52,105.41L449,106.15L453.08,106.52L455.55,107.51L457.15,108.87L460.36,111.21L462.34,111.09L463.57,111.95L466.04,112.2L468.26,112.08L470.12,111.34L474.19,111.46L474.68,109.85L475.67,108.62L475.38,105.14L475.38,105.14L475.75,104.57L477.24,104.46L479.02,104.93L480.52,106.18L481.07,107.13L481.89,109.89L483.8,114.88L483.99,118.04L485.76,119.8L486.77,122.11L486.83,124.52z"/>
                    <path id="VE-O" title="Nueva Esparta" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M418.72,81.5l-1.45,0.1l-1.45,-0.39l0.48,-0.19l-1.06,-0.29l-0.19,-0.68l1.16,-1.45l2.32,0.19l0.39,0.58l0.19,1.06L418.72,81.5zM408.68,79.56l-1.83,0.1l-1.54,-0.1l-0.77,-1.16l0.39,-0.68l3.57,-0.19l0.68,0.48l0.1,0.77L408.68,79.56zM423.94,69.52v1.16l-0.97,0.48l-0.48,0.77l-1.45,0.1l-0.58,0.77l-1.06,0.77l-2.41,0.39l-0.97,0.77l-4.63,0.1l-0.68,-0.29l-0.68,-0.97l-1.64,-1.25l-1.74,-0.48L405.98,73l-3.77,-0.1l-0.87,-0.87l-2.03,-0.19l-1.54,-1.06l0.1,-2.03l1.45,-1.35l2.51,-0.48l3.67,0.19l1.83,1.93l1.74,0.97l2.7,0.29l1.64,-0.87l1.35,-0.29l0.96,-2.9l0.68,-0.29l1.35,-1.16l1.25,-1.35l0.48,-0.1l1.74,0.19l0.48,0.58l0.39,1.54l1.35,0.97l0.39,1.35L423.94,69.52z"/>
                    <path id="VE-P" title="Portuguesa" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M193.86,124.06L195.54,128.24L195.54,129.89L196.86,130.71L197.03,132.19L197.03,134.01L200.15,139.77L199.99,141.25L200.32,143.06L202.79,144.38L205.92,147.67L207.73,148.16L208.22,149.81L208.22,151.79L211.35,154.58L209.54,156.56L209.04,158.21L210.03,160.18L210.53,162.32L211.35,164.46L210.53,165.61L207.89,165.94L206.9,166.6L205.26,167.42L204.27,168.41L206.08,169.56L207.56,169.89L208.88,171.54L209.37,173.52L211.18,174.34L212.83,175.66L212.83,175.66L213,178.46L213,178.46L212.5,180.6L211.68,181.91L211.18,183.89L209.87,186.03L207.73,186.69L205.75,187.67L204.43,189.98L202.95,190.47L202.62,192.28L202.46,199.03L200.48,199.36L198.34,198.38L197.03,196.4L195.71,195.58L195.22,193.77L193.73,192.28L191.59,191.46L189.95,189.65L188.3,188.17L186.98,187.51L187.31,186.03L188.63,184.88L187.97,183.56L186,182.74L185.67,180.76L183.86,178.46L182.87,176.97L180.73,175L177.93,174.01L175.13,174.67L169.86,172.69L167.72,170.72L160.64,170.72L159.49,169.73L156.53,168.58L153.73,167.75L151.59,165.94L149.28,164.79L146.98,162.82L145.33,161.66L144.02,160.02L142.5,159.26L142.5,159.26L142.55,159.27L142.55,159.27L144.03,157.29L146.25,154.7L146.74,153.46L146.99,152.23L146.99,149.14L144.27,148.16L143.78,146.06L146,143.46L148.35,141.61L148.97,140.13L149.32,138.59L149.32,138.59L149.95,136.8L149.95,136.8L150.7,136.43L152.92,134.08L156,134.2L156.62,133.34L157.36,132.84L158.84,132.6L159.22,133.96L158.72,135.31L158.23,136.43L157.36,137.54L156.13,138.77L157.86,140.62L159.22,140.99L160.33,140.01L161.93,140.01L162.55,140.87L163.78,140.99L164.9,140.75L165.88,139.88L166.01,134.33L166.87,133.46L169.22,132.97L170.08,134.2L171.07,134.33L171.19,133.34L169.96,132.35L169.96,131.49L171.32,131.12L173.78,133.09L174.9,133.46L175.14,132.35L173.78,131.73L173.78,129.63L174.9,129.26L176.38,131.61L177.98,131.24L176.62,129.39L176.5,128.52L177.37,128.15L177.37,127.04L178.35,126.3L178.6,124.94L179.22,123.96L180.33,122.84L180.58,121.61L181.81,120.5L182.43,120.74L183.29,121.86L183.17,127.17L184.53,127.54L185.64,128.4L186.13,127.78L187.86,127.54L189.47,127.54L190.82,126.79L191.94,125.68L193.29,124.7L193.29,124.7z"/>
                    <path id="VE-R" title="Sucre" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M475.38,105.14L475.67,108.62L474.68,109.85L474.19,111.46L470.12,111.34L468.26,112.08L466.04,112.2L463.57,111.95L462.34,111.09L460.36,111.21L457.15,108.87L455.55,107.51L453.08,106.52L449,106.15L447.52,105.41L446.53,105.66L445.3,104.92L444.06,103.68L442.09,103.43L441.47,102.45L440.11,101.46L439.25,100.96L437.64,100.59L436.78,101.09L435.91,101.95L435.3,102.32L434.68,103.06L433.07,103.8L432.21,104.42L426.41,104.54L425.05,105.53L423.94,107.14L421.71,108.25L420.23,108.37L418.01,109.48L418.01,109.48L416.78,109.48L416.78,109.48L415.67,108.74L414.8,108.37L411.59,108.37L408.01,109.73L406.78,110.35L402.33,110.35L401.22,109.61L399.86,109.24L398.5,108.62L397.27,108.25L395.91,107.38L395.42,105.53L394.18,104.17L393.69,103.8L393.18,103.02L393.18,103.02L394.54,100.73L396.82,98.91L397.84,97.94L399.24,96.89L402.21,96.52L405.96,92.61L407.99,92.87L409.77,94.26L412.05,94.9L419.54,95.02L422.58,94.79L423.44,94.03L426.88,92.9L427.67,92.29L423.6,91.34L421.57,90.2L418.78,90.2L417.51,88.42L415.48,88.42L414.97,89.44L407.74,89.19L403.9,91.01L402.87,90.1L403.32,89.23L401.77,86.77L402.66,86.01L403.85,85.45L405.32,86.52L411.29,86.27L411.67,85.25L414.97,85.13L415.73,86.39L420.17,86.39L421.25,85.14L427.92,85.15L429.95,86.01L434.88,85.97L441.5,84.49L447.08,84.62L448.31,83.24L449.87,82.71L459.69,82.48L461.04,83.48L464.21,83.48L465.74,82.59L468.15,82.08L469.92,81.06L472.46,81.06L475,81.7L478.68,81.83L481.9,81.51L486.85,82.36L492.77,83.09L496.84,82.66L500.89,82.46L502.67,81.95L507.99,81.45L507.82,82.95L505.84,83.73L504.19,84.74L501.65,85.38L499.12,85.63L497.6,85.93L496.68,85.63L495.49,85.55L491.66,85.98L490.47,87.17L489.35,89.18L488.04,90.23L482.8,90.16L479.37,89.84L477.04,89.18L471.83,89.06L465.84,90.16L464.71,90.54L464.18,91.45L465.46,91.88L466.05,92.84L465.96,94.85L465.63,95.79L464.23,96.11L463.38,95.94L462.52,96.16L461.4,96.05L460.49,96.21L459.74,96.75L458.88,97.66L458.56,101.84L459.14,102.64L460.53,102.64L461.07,101.67L461.02,98.46L461.88,97.61L462.79,97.45L463.75,97.93L465.68,97.87L466.33,96.75L467.76,96.05L467.71,94.66L468.53,94.14L470.18,95.91L471.57,96.04L472.84,98.07L473.23,101.44L473.23,105.9L474.25,106.23L475.13,105.54z"/>
                    <path id="VE-S" title="Táchira" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M84.41,212.6L84.34,212.86L84.83,215.5L83.84,215.83L83.68,217.47L83.68,219.12L84.67,220.27L85.66,220.76L86.81,221.92L88.12,222.9L88.95,223.89L89.11,225.04L85.49,225.21L84.17,224.88L82.53,224.22L80.22,224.22L78.25,223.56L74.79,223.07L72.48,222.25L71,223.07L69.03,223.4L68.04,224.22L68.04,224.22L67.71,225.37L67.71,225.37L66.72,226.86L66.72,227.68L66.23,228.67L64.91,229L63.43,229.65L60.47,229.65L58,229.33L56.35,228.34L55.2,227.35L54.21,226.2L52.89,226.36L51.58,227.02L49.27,226.86L46.14,227.02L45.72,227.96L45.72,227.96L42.73,227.82L42.24,225.6L40.76,225.1L40.39,217.82L40.57,206.34L41.87,201.82L43.68,200.72L45.6,200.71L46.36,200.08L46.52,198.88L44.46,196.63L44.26,187.88L43.73,186.44L43.13,185.79L42.19,185.54L41.84,185.14L41.84,185.14L43.83,184.65L45.19,183.17L46.18,182.92L46.42,181.07L52.1,178.23L54.57,178.23L58.28,176.87L60.62,174.65L61.49,174.41L62.72,175.02L62.97,176.26L64.57,176.26L65.19,175.27L67.17,174.78L67.17,174.78L67.64,174.62L67.64,174.62L67.97,176.11L68.83,176.36L69.2,178.58L70.07,179.57L70.44,180.8L69.33,182.04L69.08,183.89L69.08,188.33L67.6,188.95L66.86,190.56L65.87,192.04L64.39,193.52L64.27,195.37L65.87,195.99L69.08,196.48L72.54,199.32L73.9,201.05L75.25,201.3L78.96,201.3L80.69,202.16L81.3,203.4L81.68,206.73L81.55,210.31L82.42,211.55L83.16,212.29L84.14,212.78L84.14,212.78z"/>
                    <path id="VE-T" title="Trujillo" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M149.32,138.59L148.97,140.13L148.35,141.61L146,143.46L143.78,146.06L144.27,148.16L146.99,149.14L146.99,152.23L146.74,153.46L146.25,154.7L144.03,157.29L142.55,159.27L142.55,159.27L140.94,159.02L140.94,159.02L139.58,159.02L137.73,158.03L130.32,158.16L127.85,159.02L127.85,159.02L125.75,159.27L125.75,159.27L124.15,158.03L121.93,157.79L120.2,160.38L118.47,158.77L114.77,154.82L111.68,153.34L110.32,153.34L109.96,152.66L109.96,152.66L110.2,152.67L110.2,152.67L110.57,151.69L110.69,150.33L109.83,149.22L109.46,148.35L109.21,146.87L108.22,145.02L104.27,143.54L102.47,143.56L102.47,143.56L102.59,143.39L102.91,141.02L102.88,135.17L103.22,133.31L103.39,130.1L103.39,130.1L106.51,131.34L108.85,131.83L111.94,131.59L113.91,130.23L115.52,128.75L115.52,127.14L116.01,126.4L116.75,124.55L118.11,124.67L119.59,124.18L120.09,123.19L119.84,119.86L118.85,118.62L118.85,118.62L119.07,117.34L119.07,117.34L120.2,117.04L119.95,116.05L120.2,114.08L120.94,112.84L122.54,112.1L124.15,112.97L124.03,114.2L125.51,114.82L126.74,115.81L126.74,118.65L128.47,118.89L129.95,119.76L131.93,119.26L133.29,118.77L134.52,119.51L135.51,120.87L137.11,121.73L139.21,122.6L140.32,121.98L141.81,121.98L143.04,123.46L144.77,123.71L146.62,124.7L148.23,126.05L150.33,126.55L151.07,128.03L150.2,128.4L146.5,128.77L146,129.88L144.89,131.61L144.89,133.59L147.49,136.55L147.98,138.03L149.21,138.9L149.21,138.9z"/>
                    <path id="VE-U" title="Yaracuy" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M228.02,88.72L228.52,89.63L228.94,90.12L228.94,90.12L227.53,90.12L225.93,90.49L225.31,90.99L223.95,91.11L222.59,90.25L221.48,90.62L221.73,92.59L220.74,94.82L220.49,98.52L220.74,99.51L222.1,100.37L222.96,101.85L222.96,102.84L221.98,104.08L221.36,105.43L220.62,106.55L220.62,109.14L221.36,110L221.48,111.36L221.85,113.09L221.85,113.09L222.46,113.23L222.46,113.23L221.73,114.82L220.49,115.31L219.38,116.55L216.67,118.03L215.18,118.15L214.32,117.29L213.95,115.31L214.07,113.95L211.48,114.08L209.88,115.06L209.5,116.05L206.42,117.04L205.18,116.42L203.46,115.31L200.99,112.97L199.26,112.84L198.27,113.83L198.27,113.83L196.54,114.08L196.54,114.08L194.44,113.95L193.33,114.94L192.22,116.3L191.97,118.65L191.11,120L190,119.63L188.64,118.89L187.53,117.9L187.03,115.93L187.28,114.69L188.14,113.46L186.17,111.11L185.06,110.37L184.32,109.14L184.69,108.27L186.05,107.29L187.53,106.92L188.51,105.68L188.89,104.08L193.82,103.95L193.82,102.59L192.84,101.48L192.71,98.15L190.61,94.82L190.98,92.47L191.85,91.11L193.58,90.12L195.92,89.88L197.53,89.26L198.52,87.9L199.63,87.04L200.12,86.42L200.12,86.42L201.48,86.05L201.48,86.05L204.2,83.46L208.15,82.59L210.74,82.59L211.11,86.05L212.22,87.28L213.46,88.15L215.06,88.89L217.16,89.26L223.58,89.38z"/>
                    <path id="VE-V" title="Zulia" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M102.47,143.56l1.81,-0.02l3.95,1.48l0.99,1.85l0.25,1.48l0.37,0.86l0.86,1.11l-0.12,1.36l-0.37,0.99l0,0l-1.61,-0.12l0,0l-0.99,0.86l-2.47,0.12l-0.86,0.86l-1.48,-0.49l-0.86,-1.36l-1.6,-0.99l-1.11,-0.99l-1.23,-0.12l-0.49,-0.74l0,0l-0.22,-0.01l0.57,-3.48l0.72,-0.52l1.3,-0.29l1.9,-0.85L102.47,143.56zM92.49,70.23l1.75,1.3l1.85,2.22l1.36,1.11l0.99,1.73l1.48,0.86l1.23,1.48l0.74,1.23l-0.12,1.23l-0.74,0.99l-0.25,1.6l1.23,1.73l0.62,1.98l3.21,3.95l2.1,0.74l1.85,1.36l2.22,0.25l3.09,-0.12l0,0l0.11,0.01l0,0l0.05,0.9l0.74,0.74l0.37,1.6l-0.12,1.23l0.25,0.86l0.99,0.62l0.99,-0.25l0.86,0.86l-0.12,1.11l-0.74,1.11v1.98l-2.1,1.85l-3.95,1.98l-2.35,1.36l-0.74,1.6l0.86,1.85l1.85,1.23l1.48,0.49l0.86,0.74l2.1,1.11l2.59,0.25l0,0l-0.25,1.48l0,0l0.99,1.23l0.25,3.33l-0.49,0.99l-1.48,0.49l-1.36,-0.12l-0.74,1.85l-0.49,0.74v1.6l-1.6,1.48l-1.98,1.36l-3.09,0.25l-2.35,-0.49l-3.12,-1.24l0,0v-2.37l0.85,-0.17l-0.34,-1.69l-1.69,-5.75l-1.49,-1.47l-2.18,-2.5l-2.09,-0.38l-1.01,-2.92l0.02,-3.5l-2.3,-2.08l-1.02,-1.13l-1.07,-0.77l-3.03,-4.01l-2.26,-3.87l-0.82,-3.08l1.18,-1.02l-0.17,-2.03l-2.37,-0.68l-1.52,-1.52l0.18,-2.3l1.01,-0.74l-0.52,-1.98l-0.16,-4.12l-1.07,-1.07l0.12,-1.36l2.96,-0.25l1.73,0.49l-0.02,-2.05l1.52,-1.69l-0.17,-1.02l-1.09,-0.68l-0.12,-1.73l3.09,0.12l0.49,1.1l0.34,2.54l1.86,-0.51l-0.51,-2.88L92.49,70.23zM77.67,39.4l-3.55,0.34l-2.89,-0.07l-2.23,0.67l-3.34,1.95l-1.69,2.37l-0.51,2.37l1.01,4.39l-0.12,1.85l1.48,0.62l1.73,4.94l1.36,1.98l1.98,2.1l1.71,2.74l5.58,1.69l0.34,1.18l-1.02,0.34h-2.54l-2.03,-0.85l-0.56,1.19l2.72,1.98l0.25,3.21l1.66,4.45l1.3,0.98l0.86,0.99l1.48,0.99l0.08,1.95l-0.82,4.84l-1.07,0.4l-1.6,3.74l-0.83,1.51l-4.72,3.25l-1.71,2.14l-1.36,2.97l0.06,2.04l-1.11,2.59l-5.11,2.24l-0.68,3.38l-6.42,9.22l2.1,3.68l1.39,1.24l1.7,1.97l1.87,2.71l0.1,4.7l2.33,0.15l7.85,5.25l0.42,1.37l-0.37,2.18l-2.5,0.54l-0.51,1.86l2.53,1.01v3.7l0.38,1.58l0.85,1.01l1.14,0.65l2.88,0.9l1.13,0.14l2.01,-0.04l2.45,-0.43l8.11,-2.67l1.02,-0.49l1.17,-0.81l0,0l0.07,0.44l-0.12,1.98l0.62,0.86l0.62,0.25l0.12,1.36l-1.6,0.86l-1.11,0.86l-2.59,2.47l-2.59,1.23l-1.73,2.1l-3.33,1.85l-3.58,3.83l-2.1,1.23l-1.48,0.25l-0.86,3.58l-1.73,-0.25l-1.85,-0.74l-1.48,-0.12l0,0l-1.48,0.49l0,0l-1.98,0.49l-0.62,0.99h-1.6l-0.25,-1.23l-1.23,-0.62l-0.86,0.25l-2.35,2.22l-3.7,1.36H52.1l-5.68,2.84l-0.25,1.85l-0.99,0.25l-1.36,1.48l-1.99,0.49l0,0l-9.23,-10.61l-5.8,-22.47l-3.33,-0.62l-1.11,1.11l-2.84,-0.25l-1.16,-1.77l0.18,-1.02l-1.01,-2.66l-1.28,-1.83l-5.9,3.47l-0.98,1.25l-2.49,1.1l-3.8,-0.39l-1.66,0.6L0,150.83l0.63,-2.42l3.34,-2.77l0.12,-3.83l1.79,-1.52l1.55,-3.17l4.09,-3.63l1.58,-2.14l3.96,-8.3l1.23,-1.11l0.25,-2.72l-1.23,-1.03l0.4,-4.32l1.33,-2.92l1.36,-2.35l-0.12,-7.48l1.23,-0.99V95.8l1.11,-2.22l1.73,-3.95l2.96,-4.32l2.47,-2.35l-0.02,-3.4l3.14,-5.62l4.41,-5.06l0.77,-2.92l1.69,-1.69l3.89,-0.68l4.06,-0.34l3.22,-5.92l5.92,-11.51l3.38,-4.57l3.22,-1.52l6.99,-2.33l2.47,-0.99l12.59,-2.47l2.1,-1.85l3.11,-0.98l1.51,1.35l-0.68,2.37l-2.71,1.35l-2.71,1.18L77.67,39.4z"/>
                    <path id="VE-W" title="Dependencias Federales" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M357.54,69.27l1.03,1.03l1.67,-0.39l0.77,0.77l0.26,1.16l1.03,1.29l-0.26,0.9l-0.9,0.9l-0.9,0.77l-1.03,0.13l-3.48,-0.13l-1.16,-0.77l-0.77,-0.13l-0.9,0.13l-1.03,-0.39l-0.9,-1.8l0.13,-1.03l0.51,-0.9l1.29,-1.16l3.6,-1.03L357.54,69.27zM456.93,53.34l-1.54,1.89l-1.2,-1.2l-0.51,-1.54l1.03,-1.72l1.72,-0.17l1.2,0.34l0.69,0.86l-0.17,1.03L456.93,53.34zM398.89,36.11l-0.32,2.12l-0.86,0.52l-0.86,-1.2l0.17,-1.89h1.72L398.89,36.11zM319.88,35.66h-1.29l-1.29,-0.64l-0.64,-0.77l-1.42,-1.16l0.9,-0.64l0.52,-0.9h2.96l0.64,-0.39l0.51,-1.03l1.03,-1.29l1.54,0.77l0.13,1.42l0.64,1.03v1.67l-1.16,1.29l-1.16,0.51L319.88,35.66zM389.27,34.5h-1.93l-1.29,-0.64l-0.64,-1.16v-1.55l0.77,-1.29l1.42,-0.9l2.58,-0.13l0.9,1.16l0.26,1.16v1.8L389.27,34.5zM301.47,27.68l0.64,1.67v3.73l-0.9,1.93l-1.29,1.03l-1.93,0.52h-2.45l-1.8,-0.77l-1.54,-0.13h-2.58l-1.03,-1.03l0.13,-0.77l8.75,-0.52l1.29,-1.93l0.39,-0.9l-0.9,-1.42l-1.03,-1.29v1.67l-0.77,1.42l-1.03,0.9l-3.86,-0.13l-2.83,-2.45v-1.29l0.77,-1.03h1.67l1.16,-0.77l1.67,-0.39l2.32,-0.77l2.45,-0.13l1.8,1.16L301.47,27.68zM265.03,26.78l-1.42,0.13l-1.8,-0.39l-0.13,-0.64l0.13,-0.77l1.54,-0.26l-0.13,-0.9l-1.8,-1.16l0.64,-1.03l0.9,-0.64l1.54,0.52l1.42,2.7l-0.39,1.54L265.03,26.78zM256.41,21.37l0.39,1.8l-0.64,2.06l-1.67,0.64h-2.19L251,24.85V23.3l0.9,-1.16l1.29,0.13l0.13,-1.03l-2.83,-1.16l-1.54,-1.03l1.42,-0.9l1.54,0.13l3.09,1.67L256.41,21.37z"/>
                    <path id="VE-X" title="Vargas" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M311.6,86.61L311.71,88.52L311.1,89.75L309.74,90.12L307.89,90.37L306.78,90.25L305.42,89.26L295.17,89.14L293.56,89.51L291.84,90.37L291.84,90.37L289.49,90.12L289.49,90.12L284.18,90.12L282.95,90.25L282.08,89.14L280.72,89.38L280.48,90.49L279.86,91.11L278.75,91.23L277.51,93.46L276.77,94.07L276.77,94.07L276.15,94.82L275.04,95.31L275.04,95.31L273.93,95.93L272.82,95.93L271.96,94.94L270.97,94.69L269.86,95.43L269.36,96.42L268.62,96.91L267.51,96.79L267.39,95.68L266.4,94.32L266.65,93.09L265.91,92.35L265.69,90.5L265.69,90.5L272,90.07L277,88.11L281.68,86.72L292.88,85.51L301.76,85.51L307.47,86.04L308.94,86.46z"/>
                    <path id="VE-Y" title="Delta Amacuro" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M545.11,178.26l-0.92,0.65l-1.7,-1.05v-0.92l0.39,-1.05l1.18,-0.52l1.05,0.39l0.39,1.31L545.11,178.26zM540.92,177.21L540,177.6l-0.79,-0.26l-0.52,-1.05l0.26,-0.65l1.18,-0.79l1.44,0.13v1.05L540.92,177.21zM560.94,171.97l0.26,1.18l-0.92,1.05l-1.96,0.52l-0.79,-0.92v-1.31l1.7,0.13L560.94,171.97zM558.85,171.32l-0.39,0.13l-0.79,-0.92l1.05,-0.92l1.05,1.05L558.85,171.32zM549.95,168.7l-1.83,1.44l-0.65,1.18l-0.79,1.05l-0.26,0.79l-1.83,0.79l-1.96,0.52h-1.83l0.13,-1.96l1.44,-0.26h1.57l0.39,-1.18l-0.13,-1.31l-1.05,-0.26l-0.92,0.65l-1.7,1.7l-0.92,-0.26v-1.05l1.57,-1.05l0.13,-0.92l0.65,-0.13l1.44,-0.79l1.31,-0.13l1.44,-0.92l3.14,-0.13l1.18,0.39L549.95,168.7zM554.27,166.61l-0.65,1.31l-1.18,-0.13l-0.39,-0.79v-0.92l1.18,-0.52L554.27,166.61zM557.15,168.57l-1.96,1.05l-0.26,1.31l-0.92,0.65l-0.92,1.18l-1.44,0.79l-1.05,-0.26l0.39,-1.05v-0.52l0.92,-0.79l0.79,-0.92l0.65,-1.18l1.18,-0.26l1.7,0.13l0.92,-0.65l1.31,-2.09l1.05,-0.39l0.39,1.05l-0.65,0.39l-0.79,1.05L557.15,168.57zM549.29,164.91l-1.44,0.13l-0.52,-0.39l-0.13,-1.05l-0.92,-1.44l4.45,-4.19h0.79l1.31,0.39l0.26,1.18l-0.52,1.57l-1.44,1.83L549.29,164.91zM555.58,158.1l-1.57,0.13l-1.7,-1.44l1.05,-1.05l3.27,1.7L555.58,158.1zM543.8,163.08h-1.7l0.65,-1.57l1.05,-1.7l1.96,-1.18l1.44,-1.05l1.57,-1.96l1.31,-0.65l0.52,1.18l-0.52,1.05l-1.44,0.79l-1.57,2.09l-1.31,0.92l-0.65,1.31L543.8,163.08zM552.3,153.52l-0.65,0.52l-1.44,-0.13l-0.39,-1.05l0.39,-1.44l0.65,-0.79l0.79,-0.39l1.18,0.13l0.65,1.44l-0.52,1.44L552.3,153.52zM558.32,152.34l0.65,1.05l0.92,-0.13l0.13,1.05l-0.65,1.05h-0.79l-0.79,-1.18l-1.44,-0.92l-1.57,-0.79l-0.13,-1.05l0.26,-0.79l1.18,-1.83l0.92,-0.26l0.79,0.79l-0.39,0.65l-0.65,0.39l0.39,1.31L558.32,152.34zM549.98,148.66l-1.66,0.96l-0.75,-0.59l-0.05,-0.6l0.6,-0.54l1.05,-0.65l1.18,-2.62l-0.52,-3.8l-0.46,-1.54l0.41,-0.32l0.11,-1.18l0.96,-0.38l0.78,0.1l1.69,1.17l1.54,1.78l1.23,3.21l-0.21,1.02l-1.61,0.16l-0.75,1.02l-2.03,1.87L549.98,148.66zM536.73,130.36l-0.52,1.31l-1.05,-0.26l-0.92,-0.92l-0.65,-1.57l0.52,-0.65l2.22,1.44L536.73,130.36zM510.55,125.64l0.8,0.11l0.21,-0.8l-0.75,-1.02l-0.48,-0.96l0.27,-0.64l1.22,-0.85l0.92,0.04l0.7,1.24l1.93,-0.05l2.52,1.02l2.41,0.7l1.13,-0.05l-1.5,-2.25l-1.02,-0.96l-0.32,-1.34l0.43,-0.91l0.86,-0.21l5.09,3.64l3.08,3.48l0.5,0.91l1.38,1.48l1.83,2.53l3.79,1.53l2.58,0.47l4.93,0.14l1.74,-0.06l2.6,1.1l0.98,2.54v2.52l0.53,0.66l0.78,4.6l-0.79,1.96l-1.68,1.2l-0.18,-0.34l-1.19,2.19l-0.24,1.58l-1.57,0.5l-1.5,-0.07l-0.36,1.21l-1.79,0.07l-1.5,0.29l-1.71,0.64l-0.71,1.43l1.14,0.71l1.36,-1.07l1.07,-0.64h1.36l0.34,1.15l1.23,-0.36l0.93,-0.93l2.21,-1.64l0.93,-0.86l0.43,0.43l-0.07,2.14l-1.93,3.2l-2.02,1.65l-0.9,1.41l-1.49,0.92l-0.51,2.14l-0.7,1.29l0.71,1.14l1,0.57l-1.79,2.5l-2,3.57l-0.14,2.86l-0.93,0.79l-0.29,1.07l0.71,1.07l1.21,0.14l1.64,1.14l1.28,0.43l0.29,0.86l3.14,0.57l1.39,0.89l0.97,-0.24l0.64,-3.98l0.78,-0.87l1.49,-0.12l0.65,1.05l1,-0.36l0.14,-0.64l2.49,-0.41l5.16,-0.43l1.49,0.41l2.43,1.96l7.13,1.02l0.86,-1.33h4.64l0.79,-0.93l-2.5,-0.71l-1.28,-0.14l0.02,-1.02l1.17,-0.48l6.45,0.22l1.34,0.25l7.15,2.04l3.5,1.93l3,2.64l1.36,2.93l2.14,1.71l0.93,1.43v2l-1.5,1.78l-2.36,-0.14l-1.93,1.21l-1.28,0.64l-1.71,1.28l-0.07,2.33l-1,1.64l0.38,1.53l-1.18,0.99l-2.47,-0.19l-1.38,0.57l-4.64,2.52l-1.71,1.5l-1.03,1.21l0,0l-13.62,0.25l-1.11,0.86l-1.85,0.37l-0.37,0.62h-0.74l-0.49,-0.74l-1.24,-0.12l-0.49,0.86l-0.74,0.74l-1.48,0.37l-0.86,0.99l-1.36,-0.12l-2.1,1.11l-1.48,-0.86l-1.11,-0.86l-0.74,-2.84l-0.62,-0.99l-1.11,-0.62l-1.98,0.12l-1.73,1.36l-2.84,1.61l-0.37,0.74l-1.6,0.37l-1.36,0.99h-2.1l-1.36,0.74l-1.11,0.74l-0.74,1.36h-1.85l-1.36,-0.99l-1.98,-0.12l-1.36,-0.74l0,0l-2.59,-0.37l-2.35,-1.85l0,0l-1.36,-1.23l-0.74,-1.73l-1.24,-1.98l-0.74,-1.73l-1.11,-2.1l-2.35,-0.62l-1.11,0.49l-1.85,0.25h-1.48l-0.74,0.86l-1.23,0.37l-1.36,1.11l-3.09,-0.99l-1.23,-0.74l0,0l-0.25,-1.48l-0.62,-1.23l-0.99,-1.48l-1.23,-1.48l-4.32,-2.96l0,0l-2.1,-0.74l-3.09,-0.12l-4.32,0.12l0,0l-0.49,-1.73l-1.11,-1.23l0,0l-1.61,-1.48l-0.74,-0.99l-1.23,-1.11l0,0l-0.1,-1.54l-0.16,-0.03l-0.16,-2.61l-0.57,0.21l0.07,-0.23l2.8,-1.15l0,0l3.29,-0.16l2.96,-0.66l2.47,-2.14l2.3,-0.66l0.82,-1.32l3.95,-4.44l2.3,-1.32l1.15,-1.98l0.66,-4.12l-0.16,-6.26l0,0l-0.66,-2.3l-1.15,-0.16l0,0l-1.15,0.99l-1.98,0.49l-4.12,-0.49l-2.14,-0.49l-0.99,-0.82l0,0l0.17,-1.81l-0.49,-1.65l0,0l-0.17,-2.96l-1.98,-1.15l-1.32,-1.32v-3.29l0.16,-3.29l-1.32,-3.79l0,0l-0.66,-2.31l1.98,-1.98l0,0l1.65,-1.98l0.87,-2.47l0,0l-0.02,0.13l1.48,0.86l0.25,-0.31l0.27,-2.46l-0.16,-1.71l0.54,-2.14l0.16,-1.82l0.54,-1.39l0.75,-1.29l1.24,-1.06l0.37,-0.76l1.39,-0.64l1.66,-0.32l3.05,0.38l1.12,0.75l3.43,3.21l6.91,6.96L510.55,125.64z"/>
                    <path id="VE-Z" title="Amazonas" class="land" onmousemove="showMapTooltip(evt);" onmouseout="hideMapTooltip();" d="M387.3,370.32L385.94,369.52L385.51,368.84L384.5,368.04L382.32,366.99L381.34,366.73L379.78,366.77L378.97,367.7L378.88,370.09L380.53,372.55L382.8,373.03L383.63,375.76L385.11,378.63L385.94,380.06L386.62,380.88L391.42,385.77L394.59,388.73L398.15,390.34L400.7,391.75L405.07,395.24L406.92,398.48L407.11,400.24L406.65,402L405.35,403.2L405.63,405.43L405.35,408.67L405.24,414.83L405.63,418.39L407.85,421.59L410.5,423.77L413.59,428.95L415.94,434.02L416.06,440.31L415.44,442.29L414.21,443.77L414.21,445.13L415.32,446.98L419.27,447.84L423.84,449.45L432.79,448.17L442.34,448.81L443.18,449.42L444.46,452.78L445.2,455.38L442.69,458.43L442.61,459.95L437.42,460.69L434.39,461.55L432.11,463.65L428.41,466.61L426.06,467.48L420.38,467.6L417.54,468.59L415.81,469.58L414.08,472.29L413.47,474.27L413.22,482.29L412.36,484.64L409.76,487.23L404.58,491.31L401.74,491.31L401.37,489.58L398.4,489.58L396.3,491.18L393.34,492.67L390.5,494.86L388.77,496.96L384.45,500.42L382.48,500.17L380.38,498.94L378.12,498.89L375.81,501.28L373.43,502.31L370.75,504.74L366.18,505.6L364.94,506.1L363.66,506.87L363.33,508.72L363.02,511.64L362.45,513.35L362.23,514.87L358.95,514.87L357.04,515.24L355.68,515.85L352.68,519.12L352.45,521.95L351.24,525.73L348.89,526.59L346.17,526.44L345.45,525.81L345.93,524.5L346.55,523.51L348.03,522.03L348.77,520.54L348.89,515.24L347.78,513.51L347.04,512.77L343.46,512.15L338.03,512.52L331.85,515.61L330.74,517.33L329.51,518.69L328.15,519.8L327.28,520.92L324.69,521.16L321.48,523.14L318.76,523.26L316.79,522.27L315.31,523.14L312.22,522.77L311.02,521.43L303.36,514.93L301.73,514.49L291.17,504.6L287.29,501.24L287.53,499.92L287.4,496.34L285.8,495.73L285.03,490.98L284.93,485.6L282.96,483.63L282.14,480.61L280.06,475.87L279.69,472.66L277.63,469.36L277.09,463.53L275.49,462.54L275.36,461.06L273.64,458.09L273.14,455.38L274.13,454.27L274.87,452.54L273.27,450.02L272.08,449.11L269.34,447.98L267.59,444.88L260.32,438.56L257.24,438.46L256.87,435.5L255.72,433.69L254.4,432.66L251.68,432.78L249.95,432.04L248.35,432.16L245.26,432.16L243.53,431.18L245.63,429.2L261.68,415.25L264.89,414.75L264.52,411.79L267.12,409.82L270.33,406.98L270.08,404.01L266.69,402.83L265.63,401.54L263.54,400.18L263.66,396.36L263.04,393.76L261.31,391.91L259.96,391.79L258.23,392.04L255.27,390.77L255.26,389.44L254.52,387.71L253.29,383.89L252.05,383.22L252.18,380.87L254.28,379.15L253.29,376.92L249.83,375.07L247.02,372.04L246.15,369.17L246.19,367.36L246.38,366.16L247.1,364.64L247.24,362.11L246.5,359.27L244.4,357.91L243.83,354.67L243.9,351.73L245.51,349.39L245.83,342.78L245.63,335.68L247.24,333.21L247.48,331.36L245.53,331.23L245.12,329.56L245.51,321.48L247.24,319.51L249.21,318.52L251.31,316.92L253.04,315.93L254.65,313.46L255.02,302.17L259.21,296L261.93,293.41L262.67,292.3L264.89,291.93L264.65,288.71L263.04,288.47L262.42,287.23L262.05,285.38L262.15,284.41L262.15,284.41L262.6,284.41L264.74,285.23L265.56,285.89L267.21,286.39L269.35,286.22L272.64,287.04L274.29,287.87L274.29,289.84L275.27,291.49L275.27,294.45L273.96,295.11L274.45,296.59L274.29,298.4L273.46,300.38L273.46,302.68L274.12,304.66L278.4,304.33L280.05,306.14L282.35,306.47L283.67,305.48L287.46,304.66L293.71,304.49L296.35,303.67L298.98,304L303.75,301.53L304.74,300.21L307.05,298.4L310.34,295.28L312.97,294.95L313.63,296.26L313.47,300.05L314.62,300.87L314.95,302.85L316.6,302.68L318.74,301.7L319.89,300.71L323.18,300.87L326.31,299.39L327.63,297.74L329.11,295.6L331.25,293.3L333.88,287.21L335.86,286.22L337.34,285.73L340.3,285.4L343.43,286.22L344.42,288.2L344.09,292.64L342.44,296.92L342.61,301.7L344.91,304.66L347.38,304.66L349.52,302.02L351.5,300.54L357.26,300.54L359.4,301.7L360.22,301.7L360.72,303.01L360.22,304.17L358.74,304.99L358.58,305.98L360.72,308.77L362.69,310.75L364.34,312.07L364.34,313.22L364.01,314.37L362.36,315.03L362.53,317.17L363.68,317.83L365.49,319.31L365.49,321.45L364.5,322.44L359.73,322.93L358.41,323.76L358.74,326.55L360.06,328.2L360.72,331.99L361.54,334.46L363.19,337.09L365.98,342.19L371.75,350.43L374.54,352.57L377.34,353.22L379.15,354.38L379.98,354.21L380.97,353.39L382.45,353.55L384.26,354.38L385.9,354.87L386.4,357.01L386.4,359.97L387.71,361.62L387.71,363.6z"/>
                </g>
            </svg>
            <script>
            $('.land').on('click', function (e) {
                $('.state').addClass('d-none')
                $('.land').removeClass('selected')
                $(e.currentTarget).addClass('selected')
                $('#state-'+e.currentTarget.id).removeClass('d-none')
            })
            </script>
        </div>
    </div>
</div>