<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<script>
    new WOW().init();
</script>
<div class="p-3 d-flex">
    <div class="company-information m-auto">
        <header class="header-information wow fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Nuestra historia</h3>
            </div>
            <div class="options justify-content-end">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-sm-end">
                            <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Empresa</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="p-1 pt-0 mb-5 d-flex">
    <div class="company-information m-auto">
        <img src="images/historia.jpg" class="img-history-kel wow fadeInDownBig" />
        <div class="slogan-kel p-4 wow fadeInLeft">
            <p class="m-0 title-history">Industrias Kel C.A.</p>
            <p class="m-0 title-history">Desde 1953</p>
            <p class="m-0">"Naturalmente sanos"</p>
        </div>
    </div>
</div>
<div class="p-4 p-sm-5 pb-3 pt-5 d-flex">
    <div class="company-information m-auto">
        <div class="row m-0 p-0">
            <div class="col-12 col-md-6 col-lg-5 wow slideInLeft d-flex py-3 f-container-kel">
                <img src="images/fundador.jpg" class="img-fundador">
            </div>
            <div class="col-12 col-md-6 col-lg-7 wow slideInRight">
                <p class="pb-2 fs-30px w-100 mb-0 mt-photo-kel">
                    <span class="pb-2 fs-30px text-second-gray font-weight-bold">Una gran</span> 
                    <span class="fs-30px font-weight-bold">trayectoria</span>
                </p>
                <div class="borderb-red"></div>
                <div class="w-100 mt-3">
                    <p class="text-justify">Esta empresa fue fundada en el año 1953 en la ciudad de Valera, Estado Trujillo, en una época en la que su fundador, luego de haber trabajado durante nueve años en un importante abasto de la ciudad, percibe la necesidad de producir el producto “crema de arroz”, el cual tenía un fuerte mercado y un déficit en la oferta. Las primeras etapas de producción fueron difíciles por el escaso capital con que contaba, haciendo que el proceso fuese poco automatizado y con una relativa alta cantidad de mano de obra; solamente un molino comprendía la maquinaria para tener que cubrir manualmente los procesos de transporte, mezclado y empaquetado. La bolsa de celofán era el empaque utilizado fabricado con material importado. </p>
                    <p class="text-justify">En la década de los años 60 se establece en Campo Alegre, sector perteneciente al Municipio San Rafael de Carvajal. Comienza la producción de almidón de yuca y de arroz, incorporando nueva maquinaria para estos productos.</p>                 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-4 p-sm-5 pt-0 last-container d-flex">
    <div class="company-information m-auto">
        <h2 class="lh-50">Más sobre nosotros</h2>
        <div class="row m-0 p-0 overflow-hidden">
            <div class="col-12 col-sm-6 col-md-4 mx-auto wow slideInLeft">
                <h3 class="text-center">Misión</h3>
                <p class="text-justify">Fabricar y vender productos alimenticios excelentes, integrados en una misma red de comercialización a nivel nacional e internacional con una organización eficiente y orientada hacia el crecimiento continuo a través de un óptimo servicio, calidad de los productos y el desarrollo del capital humano.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mx-auto wow delay-1s slideInUp">
                <h3 class="text-center">Visión</h3>  
                <p class="text-justify">Ser una empresa consolidada y rentable que mejore la alimentación del grupo familiar, con productos sanos y nutritivos, en la búsqueda del desarrollo y bienestar de sus trabajadores y clientes.</p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mx-auto wow delay-2s slideInRight">
                <h3 class="text-center">Valores</h3>
                <ul class="text-justify ml-4 fa-ul">
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Competitividad</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Colaboración</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Servicio</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Calidad</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Integridad</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Desarrollo profesional</li>
                    <li><span class="fa-li" ><i class="fas fa-angle-right"></i></span>Justicia</li>
                </ul>
            </div>
        </div>
    </div>
</div>
