<% ejs_fetch_render('menu','menu',{person: 'Roberto'}) %>
<script>
    new WOW().init();
</script>
<div id="carouselExampleIndicators1" class="carousel slide maxh-kel" data-ride="carousel" style="margin:0 !important;max-width:100%">
    <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active bg-white-i"></li>
         <li data-target="#carouselExampleIndicators1" data-slide-to="1" class="bg-white-i"></li>
         <li data-target="#carouselExampleIndicators1" data-slide-to="2" class="bg-white-i"></li>
         <li data-target="#carouselExampleIndicators1" data-slide-to="3" class="bg-white-i"></li>
    </ol>
    <div class="carousel-inner maxh-kel h-kel">
        <div class="carousel-item active h-kel">
            <div class="d-block w-100 image-slider-kel img-slide-1 img-slide" alt="Imagen: KEL Naturalmente sanos"></div>
            <div class="carousel-caption d-flex">
                <div class="m-auto txt-align-responsive-slide zoomInDown animated w-100">
                    <p class="slider-text-kel text-left txt-align-responsive-slide txt-responsive-slide">Naturalmente sanos</p>
                    <a href="#empresa"><button class="btn-sliderkel-yellow font-white-i btn-sliderkel-responsive">CONOCE MÁS</button></a>
                </div>
            </div>
        </div>
        <div class="carousel-item h-kel">
            <div class="d-block w-100 image-slider-kel img-slide-2 img-slide" alt="Imagen: KEL presente en la familia venezolana desde 1953"></div>
            <div class="carousel-caption d-flex">
                <div class="m-auto txt-align-responsive-slide zoomInDown animated w-100">
                    <p class="slider-text-kel text-left txt-align-responsive-slide txt-responsive-slide">DESDE <a class="color-kel txt-responsive-slide" style="text-decoration:none;">1953</a> ACOMPAÑANDO A LA FAMILIA VENEZOLANA</p>
                    <a href="#empresa"><button class="d-none d-sm-inline-block btn-sliderkel-yellow font-white-i btn-sliderkel-responsive">CONOCE MÁS SOBRE NOSOTROS</button></a>
                    <a href="#empresa"><button class="d-inline-block d-sm-none btn-sliderkel-yellow font-white-i btn-sliderkel-responsive">CONOCE MÁS</button></a>
                </div>
            </div>
        </div>
        <div class="carousel-item h-kel">
            <div class="d-block w-100 image-slider-kel img-slide-3 img-slide" alt="Second slide">

                <style>
                    .mark {
                        position: relative;
                        align-content: space-between;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        min-height: calc(100vh - 70px);
                        overflow: hidden;
                        width: 100%;
                    }
                    .mark img {
                        bottom: 0;
                        position: absolute;
                        width: 100%;
                    }
                    .ms300 { animation-delay: 300ms; }
                    .ms600 { animation-delay: 600ms; }
                    .ms900 { animation-delay: 900ms; }
                    .ms1200 { animation-delay: 1200ms; }
                    .ms1500 { animation-delay: 1500ms; }
                    .ms1800 { animation-delay: 1800ms; } 
                    .ms2100 { animation-delay: 2100ms; } 
                    .ms2400 { animation-delay: 2400ms; } 
                    .ms2700 { animation-delay: 2700ms; } 
                </style>
                <div class="mark h-kel" style="background-color:white !important;">
                    <img class="animated fadeIn ms300 " src="../recursos/fotos-productos-slider/mesa-vacia.png">
                    <img class="animated fadeIn ms900 home-producto" src="../recursos/fotos-productos-slider/crema-de-arroz-instantanea.png">
                    <img class="animated fadeIn ms1200 home-producto" src="../recursos/fotos-productos-slider/arroz.png">
                    <img class="animated fadeIn ms1500 home-producto" src="../recursos/fotos-productos-slider/kelin.png">
                    <img class="animated fadeIn ms1800 home-producto" src="../recursos/fotos-productos-slider/maizkel.png">
                    <img class="animated fadeIn ms2100 home-producto" src="../recursos/fotos-productos-slider/fororo.png">
                    <img class="animated fadeIn ms2400 home-producto" src="../recursos/fotos-productos-slider/crema-de-arroz.png">
                    <!-- <img class="animated ms2700 home-receta" src="../recursos/fotos-productos-slider/plato.png"> -->
                </div>
            </div>
            <div class="carousel-caption d-flex j-center">
                <div class="m-auto txt-align-responsive-slide flipInX animated w-100">
                    <p class="slider-text-kel text-left txt-align-responsive-slide txt-responsive-slide">CONOCE NUESTROS <a class="color-kel txt-responsive-slide" style="text-decoration:none;">PRODUCTOS</a></p>
                    <a href="#productos"><button class="btn-sliderkel-yellow font-white-i btn-sliderkel-responsive">VER PRODUCTOS</button></a>
                </div>
            </div>
        </div>
        <div class="carousel-item h-kel">
            <div class="d-block w-100 image-slider-kel img-slide-4 img-slide" alt="First slide"></div>
            <div class="carousel-caption d-flex">
                <div class="m-auto txt-align-responsive-slide zoomInUp animated w-100">
                    <p class="slider-text-kel text-left txt-align-responsive-slide txt-responsive-slide">DESCUBRE NUESTRAS <a class="color-kel txt-responsive-slide" style="text-decoration:none;">RECETAS</a></p>
                    <a href="#recetas"><button class="btn-sliderkel-yellow font-white-i btn-sliderkel-responsive">VER RECETAS</button></a>                
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="menu"></div>
<div class="p-4 p-sm-5 d-flex">
    <div class="company-information m-auto animated delay-1s fadeInLeft">
        <h3 class="mb-2 lh-40">Nuestra Empresa</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row m-0 p-0" style="overflow:hidden;" alt="First slide">
                        <div class="col-12 col-sm-6 animated slideInUp delay-1s item-height-s">
                            <img class="d-block w-100" src="images/productoskel.png">
                        </div>
                        <div class="col-12 col-sm-6 animated slideInUp delay-1s">
                            <div class="w-100 d-flex mt-2">
                                <div class="m-auto red-icon-kel">
                                    <i class="fas fa-quote-right m-auto text-white icon-quote"></i>
                                </div>
                            </div>
                            <div class="bg-clear p-4 mt-4">
                                <p class="text-justify">Empresa Trujillana dedicada a la fabricación de productos sanos y nutritivos para la mejor alimentación del grupo familiar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row m-0 p-0" style="overflow:hidden;" alt="Second slide">
                        <div class="col-12 col-sm-6 d-flex j-center item-height-s animated slideInUp delay-1s">
                            <img class="d-block" style="width:50%;" src="images/libredegluten.png">
                        </div>
                        <div class="col-12 col-sm-6 animated slideInUp delay-1s">
                            <div class="w-100 d-flex mt-2">
                                <div class="m-auto red-icon-kel">
                                    <i class="fas fa-quote-right m-auto text-white icon-quote"></i>
                                </div>
                            </div>
                            <div class="bg-clear p-4 mt-4">
                                <p class="text-justify">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. "</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev slider-left-chevron slider-chevron c-mt-25" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-chevron-left pr-2 ml-auto fs-24px"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next slider-right-chevron slider-chevron c-mt-25" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-chevron-right pr-2 mr-auto fs-24px"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="p-3 d-flex">
    <div class="company-information m-auto wow delay-1s fadeInRight">
        <div class="flex-title">
            <h3>Nuestros Productos</h3>
            <a href="#productos" class="button">
                Todos los productos <i class="fas fa-chevron-right pl-2"></i>
            </a>
        </div>
        <div class="flex-articles">
            <article class="product type-2 mb-0">
                <a href="#producto">
                    <div class="img banda" data-keyword="Delicioso">
                        <img src="images/fororo.jpg" alt="Producto: Fororo de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Fororo</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product type-2 mb-0">
                <a href="#producto">
                    <div class="img banda" data-keyword="Cremosita">
                        <img src="images/cremadearroz.jpg" alt="Producto: Crema de Arroz de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Crema de Arroz</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product type-2 mb-0">
                <a href="#producto">
                    <div class="img banda" data-keyword="Espesito">
                        <img src="images/kelin.jpg" alt="Producto: Kelin de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Kelin</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
<div class="bg-recetas p-3 d-flex">
    <div class="company-information m-auto wow delay-1s zoomIn">
        <div class="flex-title">
            <h3>Últimas Recetas</h3>
            <a href="#recetas" class="button">
                Todas las recetas <i class="fas fa-chevron-right pl-2"></i>
            </a>
        </div>
        <div class="flex-articles">
            <article class="article recipes img recipe-1">
                <div class="info">
                    <a href="#receta">
                        <h3 class="text-black lh-13">Torta de Auyama</h3>
                        <p class="text-second-gray fs-09">Torta a base de auyama o calabaza</p>
                    </a>
                    <a href="#producto" class="text-second-gray fs-09 mb-2">
                        <strong class="text-black fs-09">Productos:</strong> Kelin
                    </a>
                    <p class="text-second-gray fs-09">
                        <strong class="text-black fs-09">Porciones:</strong> 12
                    </p>
                    <div class="share-icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>         
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </article>
            <article class="article recipes img recipe-2">
                <div class="info">
                    <a href="#receta">
                        <h3 class="text-black lh-13">Pastel</h3>
                        <p class="text-second-gray fs-09">Loren ipsum receta</p>
                    </a>
                    <a href="#producto" class="text-second-gray fs-09 mb-2">
                        <strong class="text-black fs-09">Productos:</strong> Kelin
                    </a>
                    <p class="text-second-gray fs-09">
                        <strong class="text-black fs-09">Porciones:</strong> 12
                    </p>
                    <div class="share-icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>         
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </article>
            <article class="article recipes img recipe-3">
                <div class="info">
                    <a href="#receta">
                        <h3 class="text-black lh-13">Mandocas</h3>
                        <p class="text-second-gray fs-09">Loren ipsum receta</p>
                    </a>
                    <a href="#producto" class="text-second-gray fs-09 mb-2">
                        <strong class="text-black fs-09">Productos:</strong> Kelin
                    </a>
                    <p class="text-second-gray fs-09">
                        <strong class="text-black fs-09">Porciones:</strong> 12
                    </p>
                    <div class="share-icons">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>         
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="p-4 d-flex last-container">
    <div class="company-information m-auto wow delay-1s fadeInUp">
        <div class="flex-title">
            <h3>Últimas Noticias</h3>
            <a href="#noticias" class="button">
                Todas las noticias <i class="fas fa-chevron-right pl-2"></i>
            </a>
        </div>
        <div id="carouselExampleIndicators2" class="carousel slide maxh-kel pb-5" data-ride="carousel" style="margin:0 !important;max-width:100%">
            <ol class="carousel-indicators m-auto">
                 <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active bg-black-i"></li>
                 <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="bg-black-i"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="flex-articles" alt="First slide">
                        <article class="article news img news-1">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Deportes</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Primer campeonato de futbolito 2018</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="article news img news-2">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Humanidad</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Regalo a niños de bajos recursos</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="article news img news-3">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Productos</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Nuevo chocolate Kelton</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex-articles" alt="Second slide">
                        <article class="article news img news-1">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Deportes</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Primer campeonato de futbolito 2018</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="article news img news-2">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Humanidad</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Regalo a niños de bajos recursos</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="article news img news-3">
                            <a href="#noticia">
                                <div class="opacity-bg h-100 d-flex">
                                    <div class="align-self-end p-0">
                                        <button class="badge badge-pill badge-warning fs-09 ml-2 mr-2">Productos</button>
                                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Nuevo chocolate Kelton</h5>
                                        <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
