/*=======================
    Colores
Amarillo Logo #f9b900
Amarillo KEL  #f9c900   rgb(249,201,0)      (primario)
Amarillo KEL  #fef4b1   rgb(254, 244, 177)  (secundario)
Rojo KEL      #d92026   rgb(217,32,38)
Negro         #070707
Gris          #6d6d6d   rgb(109, 109, 109)  (primario)
Gris          #3f3f3f                       (secundario) (Temporalmente)

=======================*/

/*=======================
    Inicializando CSS
=======================*/
*{
    /* Propiedades de compatibilidad del box-sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #6d6d6d;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*==================================
    Propiedades para ::scrollbar 
    en Navegadores con -webkit- 
==================================*/
::-webkit-scrollbar { width: 8px; } /* width */
::-webkit-scrollbar-track { background-color: transparent; border-radius: 10px; } /* Track */
::-webkit-scrollbar-thumb { background: rgba(74, 74, 74, 0.4); border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: rgba(74, 74, 74, 0.6);  } /* Handle on hover */

/*==============
    Headings
==============*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 2;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

/*
    Custom headings
    h-primary-shadow
*/
.h-primary-shadow {
    color: #d92026 !important;
    text-shadow: 0 0 14px #fff;
}

/*=============
    Enlaces
=============*/
a,
a:link,
a:visited,
a:active,
a:hover { color: #3f3f3f; cursor: pointer; text-decoration: none; }

/*=======================
    Enlaces Primary
=======================*/
a.link-primary,
a.link-primary:link,
a.link-primary:visited,
a.link-primary:active { 
    color: #d92026;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
}
a.link-primary i,
a.link-primary:link i,
a.link-primary:visited i,
a.link-primary:active i { 
    color: #d92026;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
}
a.link-primary:hover {
    color: #f9c900;
    text-decoration: underline;
}
/*=======================
    Enlaces Secondary
=======================*/
a.link-secondary,
a.link-secondary:link,
a.link-secondary:visited,
a.link-secondary:active { 
    color: #f9c900;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
}
a.link-secondary i,
a.link-secondary:link i,
a.link-secondary:visited i,
a.link-secondary:active i { 
    color: #f9c900;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease;
}
a.link-secondary:hover {
    color: #d92026;
    text-decoration: underline;
}

/*==========================
    Input types, select, 
    textarea y datalist
==========================*/
input,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"] ,
select,
textarea,
datalist {
    background: transparent;
    border: 1px solid rgba(109, 109, 109, .7);
    border-radius: 2px;
    color: #070707;
    padding: .65rem .4rem .65rem 1rem;

    /* Propiedades para la animación de transition */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 

    width: 100%;
}
input:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="file"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
select:hover,
textarea:hover,
datalist:hover {
    border: 1px solid #d92026;
    outline-color: transparent;
}
input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus,
datalist:focus {
    border: 1px solid #f9c900;
    outline-color: rgba(249, 201, 0, .5);
}

/*==========================
    Side edges
    Input types, select, 
    textarea y datalist
==========================*/
.side-edges,
input.side-edges,
input[type="text"].side-edges,
input[type="password"].side-edges,
input[type="date"].side-edges,
input[type="datetime-local"].side-edges,
input[type="email"].side-edges,
input[type="file"].side-edges,
input[type="month"].side-edges,
input[type="number"].side-edges,
input[type="search"].side-edges,
input[type="tel"].side-edges,
input[type="url"].side-edges,
input[type="week"].side-edges,
select.side-edges,
textarea.side-edges,
datalist.side-edges {
    background: transparent;
    border: 1px solid transparent;
    border-left: 2px solid #d92026;
    border-right: 2px solid #d92026;
    color: #070707;
    padding: 0.4rem .2rem;

    /* Propiedades para la animación de transition */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 

    width: 100%;
}

input:focus.side-edges,
input[type="text"]:focus.side-edges,
input[type="password"]:focus.side-edges,
input[type="date"]:focus.side-edges,
input[type="datetime-local"]:focus.side-edges,
input[type="email"]:focus.side-edges,
input[type="file"]:focus.side-edges,
input[type="month"]:focus.side-edges,
input[type="number"]:focus.side-edges,
input[type="search"]:focus.side-edges,
input[type="tel"]:focus.side-edges,
input[type="url"]:focus.side-edges,
input[type="week"]:focus.side-edges,
select:focus.side-edges,
textarea:focus.side-edges,
datalist:focus.side-edges {
    border-left: 2px solid #f9c900;
    border-right: 2px solid #f9c900;
    outline-color: transparent;
}

select, 
datalist { cursor: pointer; }
textarea { font-size: 0.8rem; }

/*=============
    Buttons
=============*/
button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    /* Propiedades de compatibilidad */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Propiedades para estilos */
    background-color: transparent;
    border: 2px solid transparent;
    color: #6d6d6d;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    /* Propiedades para la animación de transition */
    -webkit-transition: background-color 0.7s ease, color 0.5s ease;
    -moz-transition: background-color 0.7s ease, color 0.5s ease;
    -o-transition: background-color 0.7s ease, color 0.5s ease;
    transition: background-color 0.7s ease, color 0.5s ease;
}

button i,
.button i,
input[type="button"] i,
input[type="submit"] i,
input[type="reset"] i { color: #6d6d6d; }
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgba(234, 234, 234, 0.5);
    color: #070707;
}
button:hover i,
.button:hover i,
input[type="button"]:hover i,
input[type="submit"]:hover i,
input[type="reset"]:hover i { color: #070707; }
button:focus,
.button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus { outline-color: transparent; }

/*===========================
    Button square-primary
===========================*/
button.square-primary,
.button.square-primary,
input[type="button"].square-primary,
input[type="submit"].square-primary,
input[type="reset"].square-primary {
    background-color: #d92026;
    color: #ffffff;
}
button.square-primary i,
.button.square-primary i,
input[type="button"].square-primary i,
input[type="submit"].square-primary i,
input[type="reset"].square-primary i { color: #ffffff; }
button.square-primary:hover,
.button.square-primary:hover,
input[type="button"].square-primary:hover,
input[type="submit"].square-primary:hover,
input[type="reset"].square-primary:hover { background-color: #c92429; /* usar darken(@primary, x%) */}

/*===========================
    Button square-secondary
===========================*/
button.square-secondary,
.button.square-secondary,
input[type="button"].square-secondary,
input[type="submit"].square-secondary,
input[type="reset"].square-secondary {
    background-color: #f9c900;
    color: #070707;
}
button.square-secondary i,
.button.square-secondary i,
input[type="button"].square-secondary i,
input[type="submit"].square-secondary i,
input[type="reset"].square-secondary i { color: #070707; }
button.square-secondary:hover,
.button.square-secondary:hover,
input[type="button"].square-secondary:hover,
input[type="submit"].square-secondary:hover,
input[type="reset"].square-secondary:hover {
    background-color: #fcd22e; /* usar lighten(@secondary, x%) */
}

/*======================================
    Button circulart-edges-secondary    
======================================*/
.circulart-edges-secondary {
    background-color: rgba(249, 201, 0, .4) !important;
    border-color: rgba(249, 201, 0, .4) !important;
    border-radius:50px 50px 50px 50px;
    color: #070707;
}
.circulart-edges-secondary:hover {    
    background-color: rgb(249, 201, 0) !important;
    border-color: rgb(249, 201, 0) !important;
    border-radius:50px 50px 50px 50px;
}

/*=====================
    Navigation site
=====================*/
.navigation-site {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(170, 170, 170, 0.7);
    box-sizing: border-box;
}

/*==========
    Logo
==========*/
.navigation-site .logo {
    position: relative;
    text-align: center;
}
@media (max-width: 767px) {
    .navigation-site .logo { overflow: hidden; }
}
@media (min-width: 1200px) and (max-width: 1499px) {
    .navigation-site .logo { left: calc(25% - 220px); }
}
@media (min-width: 1500px) and (max-width: 1699px) {
    .navigation-site .logo { left: calc(30% - 220px); }
}
@media (min-width: 1700px) and (max-width: 1999px) {
    .navigation-site .logo { left: calc(35% - 250px); }
}
@media (min-width: 2000px) and (max-width: 2999px) {
    .navigation-site .logo { left: calc(38% - 250px); }
}
@media (min-width: 3000px) {
    .navigation-site .logo { left: calc(42% - 250px); }
}

#letras{
    width: 100%;
    height: 60px;
    animation: letras 6s infinite;
    vertical-align: middle;
}
@media screen and (min-width:768px){
    #cinta{
        height: 185px;
        left:25px;
        animation: cinta 6s infinite;
        position: absolute;
    }
    #chicas{
        height: 124px;
        left:55px;
        animation: chicas 6s infinite;
        position: absolute;
    }
    @keyframes cinta {
        0% {bottom: -130px;opacity: 0;}
        30% {bottom: -130px;opacity: 0;}
        33% {bottom: -35px;opacity: 1;}
        60% {bottom: -35px;}
        66% {bottom: -35px;}
        90% {bottom: -35px;opacity: 1;}
        100% {bottom: -130px;opacity: 0;}
    }
    @keyframes chicas {
        0%   {top: -80px;opacity: 0;}
        60%  {top: -80px;opacity: 0;}
        66%  {top: -53px;opacity: 1;}
        90%  {top: -53px;opacity: 1;}
        92% {top:-80px;opacity: 0;}
        100% {top: -80px;opacity: 0;}
    }
}
@media screen and (max-width:767px){
    #cinta{
        height: 130px;
        left:20px;
        animation: cinta 6s infinite;
        position: absolute;
    }
    #chicas{
        height: 90px;
        left:40px;
        animation: chicas 6s infinite;
        position: absolute;
    }
    @keyframes cinta {
        0% {bottom: -200px;}
        30% {bottom: -200px;opacity: 0;}
        33% {bottom: -26px;opacity: 1;}
        60% {bottom: -26px;}
        66% {bottom: -26px;}
        90% {bottom: -26px;opacity: 1;}
        100% {bottom: -200px;opacity: 0;}
    }
    @keyframes chicas {
        0%   {top: -58px;opacity: 0;}
        60%  {top: -58px;opacity: 0;}
        66%  {top: -18px;opacity: 1;}
        90%  {top: -18px;opacity: 1;}
        92%  {top: -58px;opacity: 0;}
        100% {top: -58px;opacity: 0;}
    }
}

@keyframes letras {
    0% {opacity: 1;}
    32% {opacity: 1;}
    33% {opacity: 0;}
    66% {opacity: 0;}
    90% {opacity: 0;}
    100% {opacity: 1;}
}

.navigation-site .logo .nombre h1 { white-space: nowrap; }
.navigation-site .logo .nombre:link,
.navigation-site .logo .nombre:visited,
.navigation-site .logo .nombre:active,
.navigation-site .logo .nombre:hover { text-decoration: none; }

.logo #letras span {
    font-size: 2rem;
    font-weight: 700;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

/*==============================================
    Transition hover que intercambia colores
    en el nombre del logo
==============================================*/
.logo .nombre:hover span:first-child { color: #d92026; }
.logo .nombre:hover span:last-child { color: #f9b900; }
.logo .nombre span:first-child { color: #f9b900; }
.logo .nombre span:last-child { color: #d92026; }

/*==========================
    Botón del navigation
    en responsive
==========================*/
button.navbar-toggler i.navbar-toggler-icon {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 24px;
}

/*=========================
    Lista de navegación
=========================*/
.navigation-site .nav-list {
    margin-right: 1.6rem;
    justify-content: flex-end;
}

@media (min-width: 1200px) {
    .navigation-site .nav-list { justify-content: center; }
}

/*==========
    Menú
==========*/
.nav-list ul li {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    margin: .5rem .75rem;
    padding: 0;
    -webkit-transition: border-bottom .5s ease;
    -moz-transition: border-bottom .5s ease;
    -o-transition: border-bottom .5s ease;
    transition: border-bottom .5s ease;
}
@media (min-width: 992px) {
    .nav-list ul li { margin: 0 .75rem; }
}

.nav-list ul li.current-link { border-bottom: 2px solid #d92026; }
.nav-list ul li:hover { border-bottom: 2px solid #f9c900; }

.nav-list ul li a,
.nav-list ul li a:link,
.nav-list ul li a:visited,
.nav-list ul li a:active,
.nav-list ul li a:active,
.nav-list ul li a:hover { 
    color: #070707;
    text-decoration: none;
}

/*=========================
    Botón de búsqueda
=========================*/
.dropdown-menu { padding: .75rem 1.5rem; }

@media (max-width: 991px) {
    .nav-list .search { margin: 1rem; }
    .dropdown-menu { left: 0; width: 270px; }
}
@media (min-width: 992px) {
    .dropdown-menu { 
        left: auto;
        right: 0;
        width: 400px;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    .nav-list .search { margin-left: 2rem; }
}
@media (min-width: 1024px){
    .nav-list .search { margin-left: 3rem; }
}
/*=======================
    Brand-icon styles
=======================*/
.brand-icon {
    -webkit-animation: brandIcon 120s infinite both;
    -moz-animation: brandIcon 120s infinite both;
    -o-animation: brandIcon 120s infinite both;
    animation: brandIcon 120s infinite both;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 0 40px 40px;
    box-shadow: 0 1px 5px rgba(191, 191, 191, 0.5);
    margin-top: -.8rem;
    opacity: 0;
    padding: .2rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

@keyframes brandIcon {
    /* In */
    0% { opacity: 0; }
    35% { opacity: 0; }
    40% {
        -webkit-transform: scale(.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        opacity: 0;
        transform: scale(.1) rotate(30deg);
        transform-origin: center bottom;    
    }
    40.3% {    
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);    
    }
    40.6% {    
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);    
    }
    40.9% {    
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1);    
    }
    48% {    
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1);    
    }

    /* Out */
    50% { opacity: 0; }
    53% {
        -webkit-transform: translate3d(-100%,0,0);
        opacity: 0;        
        transform: translate3d(-100%,0,0);
    }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
/* CÓDIGO ORIGINAL
@keyframes brandIcon {
    /* In *//*
    0% { opacity: 0; }
    15% { opacity: 0; }
    20% {
        -webkit-transform: scale(.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        opacity: 0;
        transform: scale(.1) rotate(30deg);
        transform-origin: center bottom;    
    }
    25% {    
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);    
    }
    30% {    
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);    
    }
    35% {    
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1);    
    }
    40% {    
        -webkit-transform: scale(1);
        opacity: 1;
        transform: scale(1);    
    }

    /* Out *//*
    70% { opacity: 0; }
    75% {
        -webkit-transform: translate3d(-100%,0,0);
        opacity: 0;        
        transform: translate3d(-100%,0,0);
    }
    100% { opacity: 0; }
}
*/
.brand-icon a,
.brand-icon a:link,
.brand-icon a:visited,
.brand-icon a:active,
.brand-icon a:hover { text-decoration: none; }
.brand-icon a img { width: 60px; }

/*=========================
    HOME PAGE FLEX-TITLE
=========================*/
.flex-title {
    display: flex;
    flex-direction: column;    
    justify-content: center;    
    margin-bottom: 1rem;
}
.flex-title h3 {
    line-height: 1.3;
    text-align: center;
}
.flex-title a { margin: 0 auto; }
@media (min-width: 768px) {
    .flex-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .flex-title h3 {
        line-height: 1.3;
        margin-bottom: 0;
        margin-left: 1rem;
    }
    .flex-title a { margin-right: 1rem; }
}
/*=============================
    HOME PAGE FLEX-ARTICLES
=============================*/
.flex-articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@media (min-width: 992px) {
    .flex-articles { justify-content: space-between; }
}
.flex-articles .article {
    height: 300px;
    margin: 0 1rem 1rem;
    overflow: hidden;
    position: relative;
    width: 256px;
}
.flex-articles .article.small-horizontal {
    background-position: center;
    background-size: auto 100%;
    background-repeat: repeat-x;
    height: 200px;
    width: 266px;
}
.flex-articles article.small-vertical {
    height: 258px !important;
    width: 172px !important;
}
.flex-articles article.small-vertical .img {
    height: 258px !important;
    width: 172px !important;
}
.flex-articles article.small-vertical .description .see-more { font-size: .78rem; }
.flex-articles article.small-vertical .description .see-more i { font-size: .78rem; }

.flex-articles .article.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*============================
    HOME PAGE 
    FLEX-ARTICLES PRODUCTS
============================*/
.flex-articles article.product {
    height: 357px;
    margin: 0 1rem 3.6rem;
    max-width: 200px;
}
.flex-articles article.product .img.banda::before {
    border-right: 23px solid transparent;
    border-left: 23px solid transparent;
    border-bottom: 23px solid #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #d92026;
    content: attr(data-keyword);
    font-size: .9rem;
    font-weight: 700;
    height: 0;
    left: -28px;
    position: absolute;
    text-align: center;
    top:27px;
    transform: rotate(-45deg);
    width: 134px;
    z-index: 1;
}
.flex-articles article.product .img {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.flex-articles article.product .img img {
    height: auto;
    width: 100%;
}
.flex-articles article.product:hover img {
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}
article.product .description {
    background-color: #f9c900;
    padding: .5rem;
}
article.product .description h6 {
    color: #3f3f3f;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
article.product .description .see-more { font-size: .9rem; }
article.product .description .see-more i {
    color: #3f3f3f;
    font-size: .9rem;
    padding-left: .5rem;
}
/*============
    Type 1
============*/
article.product.type-1 .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(-1rem, -3rem);
    transition: transform .8s ease;
}
article.product.type-1:hover .description { transform: translate(0,-1rem); }
article.product.type-1 .description .see-more { display: none; }
article.product.type-1:hover .description .see-more { display: block; }

/*============
    Type 2
============*/
article.product.type-2 .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0, -2.2rem);
    transition: transform .8s ease;
}
article.product.type-2:hover .description { transform: translate(0,-1rem); }
article.product.type-2 .description .see-more { display: none; }
article.product.type-2:hover .description .see-more { display: block; }

/*============
    Type 3
============*/
article.product.type-3 .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(.5rem, -3rem) rotate(-10deg);
    transition: transform .8s ease, text-align .8s ease;
}
article.product.type-3:hover .description { transform: translate(0,-1rem); }
article.product.type-3 .description .see-more { display: none; }
article.product.type-3:hover .description .see-more { display: block; }

/*============
    Type-0
============*/
.flex-articles .article.products.type-0:hover img {
    -webkit-animation: pulse 2s infinite;
    -moz-animation: pulse 2s infinite;
    -o-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}
.flex-articles .article.products.type-0 img {
    height: 100%;
    width: 100%;
}
.flex-articles .article.products.type-0 .description-1 {
    bottom: 0;
    position: absolute;
    transition: bottom ease .5s;
    width: 100%;
}
.flex-articles .article.products.type-0:hover > .description-1 { bottom: 52px; }
.flex-articles .article.products.type-0 .description-2 {
    align-items: center;
    background-color: #f9c900;
    bottom: -52px;
    display: flex;
    flex-flow: row wrap;
    height: 52px;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    transition: bottom ease .5s;
    width: 100%;
}
.flex-articles .article.products.type-0:hover > .description-2 { bottom: 0; }
.flex-articles .article.products.type-0 .description-2 .text-second-gray {
    font-size: .9rem;
    text-align: center;
    width: 120px;
}
.flex-articles .article.products.type-0 .description-2 .text-white {
    font-size: .9rem;
    margin-top: -1rem;
    text-align: center;
    width: 120px;
}
.flex-articles .article.small-horizontal.products.type-0 .description-2 .text-second-gray {
    font-size: .9rem;
    text-align: center;
    width: 118px;
}
.flex-articles .article.small-horizontal.products.type-0 .description-2 .text-white {
    font-size: .9rem;
    margin-top: -1rem;
    text-align: center;
    width: 118px;
}
.flex-articles .article.small-vertical.products.type-0 .description-2 .text-second-gray {
    font-size: .9rem;
    text-align: center;
    width: 96px;
}
.flex-articles .article.small-vertical.products.type-0 .description-2 .text-white {
    font-size: .9rem;
    margin-top: -1rem;
    text-align: center;
    width: 96px;
}
/*============================
    HOME PAGE 
    FLEX-ARTICLES RECIPES
============================*/
.flex-articles .article.recipes .info {
    background-color: rgba(249,201,0,.7);
    height: 0;
    overflow: hidden;
    padding: 1rem;
    transition: height ease .5s;
    visibility: hidden;
}
.flex-articles .article.recipes:hover .info {
    height: 100%;
    visibility: visible;
}
.flex-articles .article.recipes .info .share-icons {
    bottom: 1rem;
    left: calc(50% - (158px/2));
    position: absolute;
}
.flex-articles .article.recipes .info .share-icons i { 
    color: #070707;
    cursor: pointer;
    margin: 0 .25rem;
    padding: 0 .5rem;
}

/*=============================
    IMÁGENES DE LAS RECETAS
=============================*/
.flex-articles .article.recipes.recipe-1 { background-image: url('images/tortadeauyama.jpg'); }
.flex-articles .article.recipes.recipe-2 { background-image: url('images/pastel.jpg'); }
.flex-articles .article.recipes.recipe-3 { background-image: url('images/mandocas.jpg'); }

/*==
Recetas
==*/
.flex-articles .article.recipe-1 { background-image: url('images/recetachicha.jpg'); }
.flex-articles .article.recipe-2 { background-image: url('images/waffles.jpg'); }
.flex-articles .article.recipe-3 { background-image: url('images/mandocas.jpg'); }
.flex-articles .article.recipe-4 { background-image: url('images/slider1.jpg'); }
.flex-articles .article.recipe-5 { background-image: url('images/torta.jpg'); }
.flex-articles .article.recipe-6 { background-image: url('images/galletas.jpg'); }
.flex-articles .article.recipe-7 { background-image: url('images/tequenos.jpg'); }

/*============================
    HOME PAGE 
    FLEX-ARTICLES NEWS

    IMÁGENES DE LAS NOTICIAS
=============================*/
.flex-articles .article.news.news-1 { background-image: url('images/futbol.jpg'); }
.flex-articles .article.news.news-2 { background-image: url('images/apoyo.jpg');}
.flex-articles .article.news.news-3 { background-image: url('images/chocolate.jpg'); }

/*=========================
    HOME PAGE
=========================*/
.image-slider-kel{
	filter:brightness(0.7);
	min-height:calc(100vh - 70px);
}
.maxh-kel { max-height: calc(100%); }
@media (min-width: 992px) {
    .maxh-kel { max-height: calc(100vh - 70px); }
}
.minh-kel{
	max-height:calc(100vh - 70px);    
}
.h-kel{
    height:calc(100vh - 70px);
}
.font-white-i{
    color:white !important;
}
.btn-sliderkel-yellow{
    background-color:transparent !important;
	border-radius:50px 50px 50px 50px;
	border:3px solid #f9c900;
	padding:0.8rem;
	padding-right:1rem;
    padding-left:1rem;
    font-size:20px;
}
.btn-sliderkel-bgyellow{
    color:white;
    background-color:#f9c900 !important;
	border-radius:50px 50px 50px 50px;
	border:3px solid #f9c900;
	padding:0.8rem;
	padding-right:1rem;
    padding-left:1rem;
    font-size:20px;
}

.btn-sliderkel-bgyellow:hover{
    background-color:#d92026 !important;
    border:3px solid #d92026 !important;
    color:white !important;
}
.bg-black-i{
    background-color:black;
}
.bg-white-i{
    background-color:white;
}
.img-slide-1{
    background-image:url('images/slider1.jpg');
}
.img-receta-1{
    background-image:url('images/pastel.jpg');
}
.img-receta-2{
    background-image:url('images/tortadeauyama.jpg');
}
.img-receta-3{
    background-image:url('images/mandocas.jpg');
}
.img-receta-4{
    background-image:url('images/waffles.jpg');
}
.img-receta-5{
    background-image:url('images/torta.jpg');
}
.img-receta-6{
    background-image:url('images/galletas.jpg');
}
.img-receta-7{
    background-image:url('images/tequenos.jpg');
}
.img-product-1{
    background-image:url('images/fororo.jpg');
}
.img-news-1{
    background-image:url('images/futbol.jpg');
}
.img-news-2{
    background-image:url('images/apoyo.jpg');
}
.img-news-3{
    background-image:url('images/chocolate.jpg');
}
.img-product-2{
    background-image:url('images/cremadearroz.jpg');
}
.img-product-3{
    background-image:url('images/kelin.jpg');
}
.img-product-4{
    background-image:url('images/maizkel.jpg');
}
.img-product-5{
    background-image:url('images/arroz.jpg');
}
.img-product-6{
    background-image:url('images/chicha.png');
}
.img-product-7{
    background-image:url('images/cremad.jpg');
}
.social-icons { display: flex; }
.social-icons i { font-size: 2rem; }

@media screen and (max-width:575px){
    .image-and-date-product{
        padding-bottom:2rem !important;
    }
    .visibility-sm-none{
        display:none;
    }
}
@media screen and (min-width:576px){
    .image-and-date-product{
        padding-bottom:120px !important;
    }
    .icons-down{
        display:none;
    }
}
.date-and-brands{
    position:absolute;
    bottom:0;
}
.element-recetas{
    min-height:400px !important;
    max-height:400px !important;
}
.our-products-home{
    min-height:300px;
    max-height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.img-slide-4{
    background-image:url('images/slider4.jpg');
}
.lh-40{
    line-height:40px;
}
.img-slide-3{
    background-image:url('images/slider3.jpg');
}
.img-slide-2{
    background-image:url('images/slider2.jpg');
}
.img-slide{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.lh-40{
    line-height:40px;
}
.lh-50{
    line-height:50px;
}
.lh-35{
    line-height:35px;
}
.product-information, .show-element-1, #showElement1, #showElement2, #showElement3{
    background-color:#f9c900;
    bottom:0;
    position:absolute;
}
.p-relative-k{
    position:relative;
}
.p-absolute-k{
    position:absolute;
    bottom:0;
}
/* .show-element-1{
    height:0;
    width:100%;
    overflow:hidden;
    -webkit-transition: width 2s, height 4s;
    transition: width 2s, height 4s;
} */

.slogan-kel{
    background-color:#f9c900;
    position:absolute;
    margin-top:-40px;
    width: 270px;
}
.borderb-red{
    border-bottom: 3px solid #d92026;
    width:30%;
}
.borderw-10{
    width:10% !important;
}
.title-history{
    font-size:22px;
    font-weight:600;
}
.j-center{
	justify-content:center;
    align-content:center;
    align-items:center;
}
.last-container { margin-bottom: 80px !important; }
@media screen and (max-width:767px){
    .img-fundador{
        width:300px
    }
    .f-container-kel{
        justify-content:center;
        align-content:center;
        align-items:center;
    }
}
@media screen and (min-width:768px) and (max-width:800px){
    .img-fundador{
        width:300px !important;
        margin-left:auto;
    }
    .f-container-kel{
        flex-direction:column;
    }
}
@media screen and (min-width:801px){
    .img-fundador{
        width:322px;
        margin-left:auto;
    }
    .f-container-kel{
        flex-direction:column;
    }
}
@media (min-width: 992px) {
    .last-container { margin-bottom: 90px !important; }
}
.mx-15px{
    margin-left:15px !important;
    margin-right:15px !important;
}
.img-product-profile{
    max-width:100%;
    max-height:75vh;
}
@media screen and (max-width:700px){
    .img-history-kel{
        width:calc(100% + 6rem) !important;
        margin-left:-3rem !important;
        min-height:150px;
    }
    .img-product-profile{
        max-height:70vh !important;
    }
}
@media screen and (max-width:575px){
    .mt-photo-kel{
        margin-top:1rem;
    }
}
@media screen and (min-width:701px){
    .img-history-kel{
        width:90%;
        margin-left:9%;
    }
}
.btn-products-home{
    font-size:15px !important;
    padding:0.5rem !important;
}
.opacity-bg{
    background-color:rgba(1,1,1,.3);
}
.btn-sliderkel-yellow:hover{
	background-color:#f9c900 !important;
	color: #3f3f3f !important;
}
.font-black-i{
    color:black !important;
}
.slider-text-kel{
    font-size:50px;
    line-height:55px;
    font-weight:700;
    margin-top:10vh;
    color:white;
    text-align:center;
}
@media screen and (min-width:1024px){
    .slider-text-kel{
        font-size:5vw !important;
        line-height:5vw !important;
    }
    .color-kel{
        font-size:5vw !important;
        line-height:5vw !important;
    }
    .btn-sliderkel-responsive{
        font-size:1.8vw !important;
        padding:1rem !important;
        padding-right:2rem !important;
        padding-left:2rem !important;
    }
    .img-product-profile{
        max-height:80vh !important;
    }
}


.j-flex-start{
    align-items:flex-start;
}
.p-element-2{
    height:0px;
    overflow:hidden;
    -webkit-transition: height .5s; /* Safari */
    transition: height .5s;
}
.p-element-receta{
    visibility:hidden;
    overflow:hidden;
    -webkit-transition: height .5s; /* Safari */
    transition: height .5s;
    height:0;
}
#containerHover:hover > .p-element-receta{
    visibility:visible !important;
    height:300px;
}
#containerHover:hover ~ .p-element-receta{
    visibility:visible !important;
    height:300px
}
#containerHoverTwo:hover > .p-element-2{
    height: 65px;
}
#containerHoverTwo:hover ~ .p-element-2{
    height: 65px;
}
.product-details{
    margin-bottom:0;
    -webkit-transition: margin-bottom .5s; /* Safari */
    transition: margin-bottom .5s;
}
.bg-gradient-opacity {
    background-image: linear-gradient( rgba(255,0,0,0), rgba(33, 37, 41,0.5), rgba(33, 37, 41,0.5), rgba(33, 37, 41,0.6));
}
#containerHoverTwo{
    overflow:hidden;
}
#containerHoverTwo:hover > .product-details{
    margin-bottom:65px;
}
#containerHoverTwo:hover ~ .product-details{
    margin-bottom:65px;
}
.img-product-scale{
    -webkit-transition: transform .5s; /* Safari */
    transition: transform .5s;
}
#containerHoverTwo:hover ~ .img-product-scale{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
#containerHoverTwo:hover > .img-product-scale{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
}
.bg-kel-clear{
    background-color:rgba(249,201,0,.7)
}
.color-kel{
    color:#f9c900 !important;
    font-size:50px;
    line-height:55px;
    font-weight:700;
}
.company-information{
    max-width:900px;
    width:100%;
    overflow-x: hidden;
}
@media screen and (min-width:576px) and (max-width:767px){
    .txt-responsive-slide{
        font-size:7vw !important;
        line-height:8vw !important;
    }
    .txt-align-responsive-slide{
        text-align:left !important;
    }
}
@media screen and (max-width:575px){
    .txt-responsive-slide{
        font-size:10vw !important;
        line-height:11vw !important;
    }
    .txt-align-responsive-slide{
        text-align:center !important;
    }
}
@media screen and (min-width:768px){
    .txt-align-responsive-slide{
        text-align:left !important;
    }
}

.maxw-recetas{
    max-width:600px;
}
.icon-quote{
    font-size:19px;
}
.borderl-red-2{
    border-left:2px solid #d92026;
}
.bg-clear{
    background-color:rgba(220,220,220,.4)
}
.slider-right-chevron{
    top:-65px !important;
    width:5%;
    bottom:auto !important;
}
.slider-chevron{
    padding-top:20px;
    align-items: normal !important;
    justify-content:normal !important;
}
.fs-24px{
    font-size:24px;
}
.fs-30px{
    font-size:30px;
}
.slider-left-chevron{
    left:84% !important;
    width:10% !important;
    top:-65px !important;
    bottom:auto !important;
}
@media screen and (min-width:490px){
    .item-height-s{
        height:300px;
    }
}
@media screen and (min-width:440px) and (max-width:489px){
    .item-height-s{
        height:280px;
    }
}
@media screen and (min-width:390px) and (max-width:439px){
    .item-height-s{
        height:255px;
    }
}
@media screen and (max-width:389px){
    .item-height-s{
        height:220px;
    }
}
.title-receta-home{
    font-size:30px;
    font-weight:700;
}
.fw-700{
    font-weight:700 !important;
}
.font-gray2{
    color:#3f3f3f;
}
.red-icon-kel{
    background-color:#d92026;
    border-radius:100%;
    width:50px;
    height:50px;
    display:flex;
}
.mr-15px{
    margin-right:15px;
}

/*====================
    Contact List
====================*/
.contact-list { margin-left: 0; }
.contact-list .title {
    cursor: default;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.contact-list .description {
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}
/*=====================
    Hover effect 
    in contact-list
=====================*/
.contact-list > dt i { transition: color .5s ease; }
.contact-list > dt:hover:nth-child(odd) i { color: #f9c900; }
.contact-list > dt:hover:nth-child(even) i { color: #d92026; }
.contact-list > dt { transition: color .5s ease; }
.contact-list > dt:hover:nth-child(odd) { color: #d92026; }
.contact-list > dt:hover:nth-child(even) { color: #f9c900; }

/*===================
    Business List 
    by state
===================*/
.state {
    border-left: 2px solid #d92026;
    padding-left: .5rem;
}
.state .fa-ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
}
.state .fa-ul li { margin-left: 2.5rem; }
@media (max-width: 767px) {
    .state .fa-ul li { width: 80%; }
}
@media (min-width: 768px) {
    .state .fa-ul li { width: 43%; }
}
@media (min-width: 992px) {
    .state .fa-ul li { width: 45%; }
}

/*=====================
    Interactive Map
=====================*/
svg.venMap {
    height: 530px;
    width: 100%;
}
svg .selected {
    fill: #f9c900;
}
.land {
    cursor: pointer;
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
    transition: fill .5s ease;
}
.land:hover {
    fill: #d92026;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
#tooltip {
    background-color: #ffffff;
    color: #d92026;
    border-radius: 5px;
    padding: 2.5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);                            
}

/*===================
    Posts Headers
===================*/
.header-information {
    border-left:2px solid #d92026;
    margin: 0 0 1rem 0;
    padding: 0 1.5rem;
}
@media (min-width: 576px) and (max-width:991px) {
    .header-information .options {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .header-information .options div:first-child { order: 2; }
}
@media (max-width: 991px) {
    .header-information .options { margin-top: -.75rem; }
    .header-information .options.justify-content-end { justify-content: flex-end; }
}
@media (min-width: 992px) {
    .header-information {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .header-information .options { margin-top: 0; }
}

/*========================
    Custom text colors
========================*/
.text-gray { color: #6d6d6d; }
.text-second-gray { color: #3f3f3f; }
.text-black { color: #070707; }
.text-third-yellow { color: #f9b900; }
.text-red { color: #d92026; }

/*============
    Margin
============*/
@media (max-width: 379px) {
    .c-mt-25 { margin-top: 2.5rem; }
}

/*===================
    Line's height
===================*/
.lh-13 { line-height: 1.3; }

/*==================
    Font's sizes
==================*/
.fs-08 { font-size: .8rem !important; }
.fs-09 { font-size: .9rem; }


/*====================
    Rotate Classes
====================*/
.rotate-50 { transform: rotate(50deg); }

/*============================
    Background para receta
============================*/
.bg-recetas {
    background-image: url('./images/Background-images/88245.jpg');
    background-attachment: fixed;
}

/*=====================
    Custom colored 
    hover list icon
=====================*/
.fa-ul > li i { transition: color .5s ease; }
.fa-ul > li:hover:nth-child(odd) i { color: #f9c900; }
.fa-ul > li:hover:nth-child(even) i { color: #d92026; }

/*===================================
    Overwritting Bootstrap Clases
===================================*/
.badge-warning {
    background-color: #f9c900;
    color: #ffffff;
}
.badge-warning:hover { 
    background-color: #d92026;
    color: #ffffff;
}
.badge-danger {
    background-color: #d92026;
    color: #ffffff;
}
.badge-danger:hover {
    background-color: #f9c900;
    color: #ffffff;
}

.breadcrumb {
    background-color: rgba(233, 236, 239, .3);
    margin-bottom: 0;
}