<nav class="navbar fixed-bottom navbar-expand-lg navigation-site">
    <div class="logo">
        <a href="#" class="nombre">
            <div id="letras" class="d-flex j-center pl-lg-3">
                <h1>
                    <span>Industrias</span> 
                    <span>KEL</span>
                </h1>
            </div>
            <img id="cinta" src="images/cinta.png">
            <img id="chicas" src="images/chicas.png">
        </a>        
    </div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-lg navbar-toggler-icon"></i>
    </button>
    <div class="navbar-collapse collapse nav-list" id="navbarCollapse" >
        <ul class="navbar-nav">
            <li id="home" class="current-link"><a href="#">Inicio</a></li>
            <li id="empresa"><a href="#empresa">Empresa</a></li>
            <li id="productos"><a href="#productos">Productos</a></li>
            <li id="recetas"><a href="#recetas">Recetas</a></li>
            <li id="noticias"><a href="#noticias">Noticias</a></li>
            <li id="rse"><a href="#">RSE</a></li>
            <li id="contacto"><a href="#contacto">Contacto</a></li>
        </ul>
        <div class="btn-group dropup search">
            <button type="button" class="square-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search"></i>
            </button>
            <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <h5>Buscar en KEL</h5>
                <label>¿Qué estás buscando?</label>
                <input type="text" class="side-edges">
                <button type="button" class="square-secondary mt-3">Buscar</button>
            </div>
        </div>
    </div>
</nav>

<div class="brand-icon d-none d-lg-block">
    <a href="#">
        <img src="./../recursos/logo.png" alt="Logo de Industrias KEL">
    </a>
</div>