<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<script>
    new WOW().init();
</script>
<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-3 d-flex last-container">
    <div class="company-information m-auto overflow-hidden">
        <header class="header-information wow fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Primer Campeonato de Futbolito 2019</h3>
                <p>19 Nov 2019</p>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center justify-content-sm-end">
                    <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#noticias" class="link-secondary">Noticias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Noticia</li>
                </ol>
            </nav>
        </header>
        <div class="row m-0 p-0">
            <div class="col-12 col-md-5 d-flex j-center py-4 py-md-0 wow slideInLeft delay-1s">
                <img src="images/futbol.jpg" class="maxw-recetas w-100 m-auto" />
            </div>
            <div class="col-12 col-md-7 wow fadeInRightBig delay-1s">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="m-0 mt-2 p-4 pl-5 borderl-red-2">
                    <p class="mb-2 lh-40 fw-700 fs-24px">Estaremos eternamente agradecidos...</p>
                    <p class="bg-clear px-3">Fue el comentario de Gabriel Méndez sobre el partido</p>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex mx-15px mt-3">
            <h5 class="text-third-yellow mr-2">Compartir:</h5>
            <div class="social-icons">
                <a href="#" class="button"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="button"><i class="fab fa-instagram"></i></a>
                <a href="#" class="button"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        <div class="pt-5 wow delay-1s fadeInUpBig">
            <p class="pb-2 mx-15px fs-30px w-100 mb-0 mt-photo-kel">Comentarios <span class="badge badge-danger">4</span></p>
            <div class="borderb-red borderw-10 mb-4 mx-15px"></div>
            <div class="row m-0 p-0 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/userfemale.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 pl-5 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/user.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/user.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 pl-5 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/userfemale.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
        </div>
        <div class="pt-5 wow fadeInUpBig delay-1s">
            <p class="pb-2 mx-15px fs-30px w-100 mb-0 mt-photo-kel">Crea un comentario</p>
            <div class="borderb-red borderw-10 mb-4 mx-15px"></div>
            <form class="w-100">
                <div class="row m-0 p-0">
                    <div class="col-12 col-sm-6 pb-3">
                        <label class="font-weight-bold">Nombre</label>
                        <input type="text" class="p-3 mt-1" placeholder="Nombre*" />
                    </div>
                    <div class="col-12 col-sm-6 pb-3">
                        <label class="font-weight-bold">Correo</label>
                        <input type="email" class="p-3 mt-1"  placeholder="Correo*"/>
                    </div>
                    <div class="col-12 pb-3">
                        <label class="font-weight-bold">Sitio Web</label>
                        <input type="text" class="p-3 mt-1" placeholder="Website"/>
                    </div>
                    <div class="col-12 pb-4">
                        <label class="font-weight-bold">Comentario</label>
                        <textarea class="p-3 mt-1" placeholder="Comentario*"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="p-3 px-5 square-secondary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
