<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-2 d-flex last-container">
    <div class="company-information m-auto">
        <header class="header-information animated fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Noticias</h3>
                <p>Conoce nuestras últimas noticias</p>
            </div>
            <div class="options justify-content-end">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-sm-end">
                            <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Noticias</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
        <div class="flex-articles justify-content-center animated fadeInLeftBig delay-2s">
            <article class="article small-horizontal news img news-1">
                <a href="#noticia">
                    <a href="#noticia">
                        <div class="opacity-bg h-100 d-flex">
                            <div class="align-self-end p-0">
                                <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Deportes</button>
                                <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Primer campeonato de futbolito 2018</h5>
                                <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                            </div>
                        </div>
                    </a>
                </a>
            </article>
            <article class="article small-horizontal news img news-2">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Humanidad</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Regalo a niños de bajos recursos</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-3">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Productos</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Nuevo chocolate Kelton</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-2">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Humanidad</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Regalo a niños de bajos recursos</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-3">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Productos</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Nuevo chocolate Kelton</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-1">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Deportes</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Primer campeonato de futbolito 2018</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-2">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Humanidad</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Regalo a niños de bajos recursos</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal news img news-3">
                <a href="#noticia">
                    <div class="opacity-bg h-100 d-flex">
                        <div class="align-self-end p-0">
                            <button class="badge badge-pill badge-warning fs-08 ml-2 mr-2">Productos</button>
                            <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Nuevo chocolate Kelton</h5>
                            <p class="text-white mb-0 pl-2 pr-2 pb-3">18 Sep. 2017</p>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>