<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<script>
    new WOW().init();
</script>

<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-3 d-flex last-container">
    <div class="company-information m-auto overflow-hidden">
        <header class="header-information animated fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Fororo</h3>
                <p>Harina de Maiz Tostado</p>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center justify-content-sm-end">
                    <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#productos" class="link-secondary">Productos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Producto</li>
                </ol>
            </nav>
        </header>
        <div class="row m-0 p-0">
            <div class="col-12 col-sm-6 image-and-date-product animated fadeInLeftBig delay-1s d-flex j-flex-start">
                <img src="images/fororo.jpg" class="img-product-profile mx-auto" />
                <div class="date-and-brands visibility-sm-none w-100 pr-3">
                    <div class="row w-100 m-0 p-0">
                        <h5 class="text-third-yellow mr-2">Compartir:</h5>
                        <div class="social-icons">
                            <a href="#" class="button"><i class="fab fa-facebook-square"></i></a>
                            <a href="#" class="button"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="button"><i class="fab fa-twitter-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 animated fadeInRightBig delay-2s">
                <p class="text-justify">Es un alimenta ideal para ser consumido por adultos y niños obtenido de la molienda del grano entero de maíz tostado que influye todo el germen y la fibra natural del grano, tiene un agradable sabor originado por el proceso de tostado del grano y la canela.<br> Sus Beneficios Nutricionales son: <br> Conserva todos los elementos estructurales del grano, como las proteínas, grasas y fibra dietética, convirtiéndolo en un alimento completo y balanceado para el grupo familiar.<br> Debido a que el grano es procesado por completo mantiene la composición de macronutrientes, como las vitaminas del complejo B, minerales como el hierro, f{osforo y zinc, favorables para los niños en su etapa de crecimiento y desarrollo.<br> Las bondades de la fibra presentes en nuestro FORORO KEL, permiten cuidar la salud cardiovascular y el control de la glucosa en sangre.<br> Contribuye a evitar el estreñimiento y a reducir los niveles de colesterol.<br> La fibra ayuda ademása a la digestión y salud del intestino, previniendo el cáncer de colon.<br> Gracias al proceso de tostado al que es sometido el grano, le confiere un agradable y autentico sabor que hace de nuestro FORORO KEL un alimento ideal para ser consumido por niños y adultos.<br> Su envase es más práctico e higiénico a la hora de su almacenamiento en la despensa.</p>
            </div>
        </div>
        <div class="w-100 icons-down mx-15px mt-3 animated fadeInRightBig delay-2s">
            <div class="d-flex">
                <h5 class="text-third-yellow mr-2">Compartir:</h5>
                <div class="social-icons">
                    <a href="#" class="button"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="button"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="button"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
    