<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-2 d-flex last-container" style="overflow-y:visible;">
    <div class="company-information m-auto" style="overflow-y:visible;">
        <header class="header-information animated fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Productos</h3>
                <p>Conoce nuestras productos de calidad</p>
            </div>
            <div class="options justify-content-end">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-sm-end">
                            <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Productos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </header>
        <div class="flex-articles justify-content-center animated fadeInLeftBig delay-2s">
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/fororo.jpg" alt="Producto: Fororo de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Fororo</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/cremadearroz.jpg" alt="Producto: Crema de Arroz de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Crema de Arroz</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/kelin.jpg" alt="Producto: Kelín de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Kelín</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/maizkel.jpg" alt="Producto: Maizkel de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Maizkel</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/arroz.jpg" alt="Producto: Arroz Semi-Integral de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Arroz Semi-Integral</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/chicha.png" alt="Producto: Chicha de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Chicha</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
            <article class="product small-vertical type-2">
                <a href="#producto">
                    <div class="img">
                        <img src="images/cremad.jpg" alt="Producto: Crema de Arroz Instantánea de Industrias KEL">
                    </div>
                    <div class="description">
                        <h6>Crema de Arroz Instantánea</h6>
                        <a href="#producto" class="see-more">Ver más información <i class="fas fa-chevron-right"></i></a>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>