<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-2 d-flex last-container">
    <div class="company-information m-auto">
        <header class="header-information animated fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Recetas</h3>
                <p>Descubre las increibles recetas que tenemos para ti</p>
            </div>
            <div class="options">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-sm-end">
                            <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Recetas</li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <select class="side-edges mt-1 fs-09">
                        <option value="todas">Todas las recetas</option>
                        <option value="kelin">Kelin</option>
                        <option value="fororo">Fororo</option>
                    </select>
                </div>
            </div>
        </header>
        <div class="flex-articles justify-content-center animated fadeInLeftBig delay-1s">
            <article class="article small-horizontal products type-0 recipe-1">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Chicha Criolla de Arroz</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA KELÍN</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-2">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Waffles</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA KELÍN</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-3">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Mandocas</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA MAIZKEL</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-4">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Paella</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">ARROZ KEL</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-5">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Torta de Vainilla</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA KELÍN</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-6">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Galletas con Chispas de Chocolate</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA KELÍN</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
            <article class="article small-horizontal products type-0 recipe-7">
                <a href="#receta">
                    <div class="description-1 bg-gradient-opacity">
                        <h5 class="text-white mb-0 lh-13 pt-2 pl-2 pr-2">Tequeños Integrales</h5>
                        <a class="button btn-sliderkel-yellow font-white-i btn-products-home ml-2 mr-2 fs-08" href="#producto">HARINA MAIZKEL</a>
                        <a href="#receta"><p class="text-white fs-09 mb-0 pl-2 pr-2 pt-2 pb-3">Ver toda la receta <i class="fas fa-chevron-right pl-2 text-white fs-09"></i></p></a>
                    </div>
                    <div class="description-2">
                        <div class="text-second-gray">Porciones</div>
                        <div class="text-second-gray">Ingredientes</div>
                        <div class="text-white">4</div>
                        <div class="text-white">5</div>
                    </div>
                </a>
            </article>
        </div> 
    </div>
</div>
    