<div id="menu"></div>
<% ejs_fetch_render('menu','menu') %>
<div class="p-4 pl-sm-5 pr-sm-5 pt-sm-3 d-flex last-container">
    <div class="company-information m-auto overflow-hidden">
        <header class="header-information animated fadeInRightBig">
            <div class="main text-center text-sm-left">
                <h3 class="lh-13">Chicha Criolla de Arroz</h3>
                <p>Con Harina Kelín</p>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center justify-content-sm-end">
                    <li class="breadcrumb-item"><a href="#home" class="link-secondary">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#recetas" class="link-secondary">Recetas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Receta</li>
                </ol>
            </nav>
        </header>
        <div class="d-flex j-center mb-3 w-100 animated fadeInDownBig delay-1s">
            <img src="images/recetachicha.jpg" class="maxw-recetas w-100 m-auto" />
        </div>
        <div class="row m-0 p-0">
            <div class="col-12 col-sm-6 col-md-4 animated fadeInLeftBig delay-2s">
                <h4>Ingredientes:</h4>
                <ul class="fa-ul text-justify ml-4">
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>12 Cucharadas de Kelin</li>
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>1/2 Litro de leche</li>
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>1 1/2 litro de agua</li>
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>1 Cucharada de Vainilla</li>
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>Azúcar al gusto</li>
                    <li><span class="fa-li"><i class="fas fa-location-arrow rotate-50"></i></span>Canela Molida</li>
                </ul>    
            </div>
            <div class="col-12 col-sm-6 col-md-8 animated fadeInRightBig delay-2s">
                <h4>Preparación:</h4>
                <p class="text-justify">Se disuelve el Kelin en un poco de agua fría.<br> Se llevan a fuego el resto del agua, al hervir se le agrega lentamente la harina extrarefinada de arroz Kelin, dejándola hervir por 5 minutos, se retira.<br> Se deja enfriar para agregarle la leche, azúcar, vainilla y canela.<br> Se sirve bien fría.</p>
            </div>
        </div>
        <div class="w-100 mx-15px mt-3 animated fadeInRightBig delay-2s">
            <p>19 Nov. 2019</p> 
            <div class="d-flex">
                <h5 class="text-third-yellow mr-2">Compartir:</h5>
                <div class="social-icons">
                    <a href="#" class="button"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="button"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="button"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div>
        </div>
        <div class="pt-5 wow delay-2s fadeInUpBig">
            <p class="pb-2 mx-15px fs-30px w-100 mb-0 mt-photo-kel">Comentarios <span class="badge badge-danger">4</span></p>
            <div class="borderb-red borderw-10 mb-4 mx-15px"></div>
            <div class="row m-0 p-0 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/userfemale.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 pl-5 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/user.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/user.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
            <div class="row m-0 p-0 pl-5 mb-3">
                <div class="col-5 col-sm-4 col-md-3">
                    <img src="images/userfemale.png" class="w-100" />
                </div>
                <div class="col-7 col-sm-8 col-md-9">
                    <p class="font-weight-bold fs-24px">Emma Stonne</p>
                    <p>19 Sep 2017</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <button type="button" class="font-weight-bold">Reply</button>
                </div>
            </div>
        </div>
        <div class="pt-5 wow fadeInUpBig delay-1s">
            <p class="pb-2 mx-15px fs-30px w-100 mb-0 mt-photo-kel">Crea un comentario</p>
            <div class="borderb-red borderw-10 mb-4 mx-15px"></div>
            <form class="w-100">
                <div class="row m-0 p-0">
                    <div class="col-12 col-sm-6 pb-3">
                        <label class="font-weight-bold">Nombre</label>
                        <input type="text" class="p-3 mt-1" placeholder="Nombre*" />
                    </div>
                    <div class="col-12 col-sm-6 pb-3">
                        <label class="font-weight-bold">Correo</label>
                        <input type="email" class="p-3 mt-1"  placeholder="Correo*"/>
                    </div>
                    <div class="col-12 pb-3">
                        <label class="font-weight-bold">Sitio Web</label>
                        <input type="text" class="p-3 mt-1" placeholder="Website"/>
                    </div>
                    <div class="col-12 pb-4">
                        <label class="font-weight-bold">Comentario</label>
                        <textarea class="p-3 mt-1" placeholder="Comentario*"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="p-3 px-5 square-secondary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    